ion-content {
    --padding-start: 30px;
    --padding-end: 30px;
    --padding-top: 25px;
    --padding-bottom: 26px;
}

.btn-close {
    --padding-bottom: 0;
    --padding-start: 0;
    --padding-end: 0;
    --padding-top: 0;
    margin: 0;
    height: auto;
}

h3 {
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    margin-top: 45px;
    margin-bottom: 45px;
    font-size: 27px;
    text-align: left;
}

ion-slides {
    padding: 15px;

    img, 
    .no-logo {
        width: 150px;
        height: 150px;
        font-size: 26px;
        text-transform: capitalize;
        border-radius: 100%;
        background: #eee;
        box-shadow: 0px 0.175em 0.5em rgba(2, 8, 20, 0.1), 0px 0.085em 0.175em rgba(2, 8, 20, 0.08);
    }

    .no-logo {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px;

        span {
            overflow: auto;
        }
    }
}
.website{
    font-weight: bold;
    font-size: 16px;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #4c5df2;
}

.desc {
    margin: 0 0 0 6px;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.65;
    letter-spacing: normal;
    text-align: left;
    color: #000;
}
ion-item {
    --padding-start: 0;
}
