<ion-content>
  <div class="max-width">
    <ion-button fill="clear" (click)="back()" class="btn-close">
      <ion-icon class="cancel-btn" src="assets/images/ic_cancel.svg"></ion-icon>
      <ion-icon class="cancel-btn dark" src="assets/images/ic_cancel-dark.svg"></ion-icon>
    </ion-button>

    <h3>{{ "Type your password to sign in" | translate }}</h3>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="classicInput" novalidate>

      <ion-input type="password" enterkeyhint='{{ "Sign in" | translate }}' #passwordInput formControlName="password" placeholder="{{ 'Your password' | translate }}"></ion-input>

      <ion-button class="btn-signup" [disabled]="!loginForm.valid || isLoading" type="submit">
        <ion-spinner *ngIf="isLoading"></ion-spinner>
        <span *ngIf="!isLoading">{{ "Sign in" | translate }}</span>
      </ion-button>
    </form>
  </div>
</ion-content>
