<ion-header mode="md" *ngIf="!platform.is('mobile')" class="browser-tab clear-header" [class.add-border]="showHeader">
  <ion-toolbar class="main-toolbar">
    <div class="brand">
      <img src="assets/logo.svg">
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-tabs #tabRef [attr.dir]="this.translateService.direction()">

    <ion-tab-bar slot="top" *ngIf="!platform.is('mobile')" [attr.dir]="this.translateService.direction()">

      <ion-tab-button tab="dashboard" layout="icon-start">
        <ion-icon class="not-current" src="assets/icons/home.svg"></ion-icon>
        <ion-icon class="icon-selected" src="assets/icons/home-selected.svg"></ion-icon>
        <ion-label>{{ 'Home' | translate }}</ion-label>
      </ion-tab-button>

      <!--
      <ion-tab-button tab="requests" layout="icon-start">
        <ion-icon name="reader-outline"></ion-icon>
        <ion-label>{{ 'Jobs' | translate }}</ion-label>
      </ion-tab-button>-->

      <ion-tab-button tab="invitations" layout="icon-start">
        <ion-icon class="not-current" src="assets/icons/invitation-tab.svg"></ion-icon>
        <ion-icon class="icon-selected" src="assets/icons/invitation-selected.svg"></ion-icon>
        <ion-label>{{ 'Invitation' | translate }}</ion-label>
        <ion-badge *ngIf="authService.invitationCount > 0">{{ authService.invitationCount }}</ion-badge>
      </ion-tab-button>
 
      <ion-tab-button tab="track" layout="icon-start" *ngIf="authService.candidate && authService.candidate.store_id">
        <ion-icon class="not-current" src="assets/icons/track-tab.svg"></ion-icon>
        <ion-icon class="icon-selected" src="assets/icons/track-selected.svg"></ion-icon>
        <ion-label>{{ 'Track' | translate }}</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="payments" layout="icon-start">
        <ion-icon class="not-current" src="assets/icons/payment-tab.svg"></ion-icon>
        <ion-icon class="icon-selected" src="assets/icons/payment-selected.svg"></ion-icon>
        <ion-label>{{ 'Payments' | translate }}</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="discounts" layout="icon-start">
        <ion-icon class="not-current" src="assets/icons/payment-tab.svg"></ion-icon>
        <ion-icon class="icon-selected" src="assets/icons/payment-selected.svg"></ion-icon>
        <ion-label>{{ 'Discounts' | translate }}</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="profile" layout="icon-start">
        <ion-icon class="not-current" src="assets/icons/profile-tab.svg"></ion-icon>
        <ion-icon class="icon-selected" src="assets/icons/profile-selected.svg"></ion-icon>
        <ion-label>{{ 'Profile' | translate }}</ion-label>
      </ion-tab-button>
    </ion-tab-bar>

    <ion-tab-bar slot="bottom" class="mobile" *ngIf="platform.is('mobile')"
      [attr.dir]="this.translateService.direction()">

      <ion-tab-button tab="dashboard">
        <ion-icon class="not-current" src="assets/icons/home.svg"></ion-icon>
        <ion-icon class="icon-selected" src="assets/icons/home-selected.svg"></ion-icon>
        <ion-label>{{ 'Home' | translate }}</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="invitations">
        <ion-icon class="not-current" src="assets/icons/invitation-tab.svg"></ion-icon>
        <ion-icon class="icon-selected" src="assets/icons/invitation-selected.svg"></ion-icon>
        <ion-label>{{ 'Invitation' | translate }}</ion-label>
        <ion-badge *ngIf="authService.invitationCount > 0">{{ authService.invitationCount }}</ion-badge>
      </ion-tab-button>

      <ion-tab-button tab="track" *ngIf="authService.candidate && authService.candidate.store_id">
        <ion-icon class="not-current" src="assets/icons/track-tab.svg"></ion-icon>
        <ion-icon class="icon-selected" src="assets/icons/track-selected.svg"></ion-icon>
        <ion-label>{{ 'Track' | translate }}</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="payments">
        <ion-icon class="not-current" src="assets/icons/payment-tab.svg"></ion-icon>
        <ion-icon class="icon-selected" src="assets/icons/payment-selected.svg"></ion-icon>
        <ion-label>{{ 'Payments' | translate }}</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="discounts">
        <ion-icon class="not-current" src="assets/icons/profile-tab.svg"></ion-icon>
        <ion-icon class="icon-selected" src="assets/icons/profile-selected.svg"></ion-icon>
        <ion-label>{{ 'Discounts' | translate }}</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="profile">
        <ion-icon class="not-current" src="assets/icons/profile-tab.svg"></ion-icon>
        <ion-icon class="icon-selected" src="assets/icons/profile-selected.svg"></ion-icon>
        <ion-label>{{ 'Profile' | translate }}</ion-label>
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>

  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button class="btn-fab" id="btn-fab" (click)="startChat()">
      <ion-icon name="chatbubbles" mode="ios" *ngIf="!startingChat"></ion-icon>
      <ion-spinner *ngIf="startingChat"></ion-spinner>
    </ion-fab-button>
  </ion-fab>
  
</ion-content>
