<ion-header [class.mobile-tab]="platform.is('mobile')" class="ion-no-border" [class.browser-tab]="!platform.is('mobile')">
  
  <ion-toolbar class="main-toolbar">

    <div class="brand">
      <img src="assets/logo.svg">
    </div>

    <!--
    <ion-buttons slot="end">
      <ion-button (click)="openPopover($event)">
        <ion-icon name="options-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    -->

  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-tabs #tabRef [attr.dir]="this._translateService.direction()">

    <ion-tab-bar slot="top" *ngIf="!platform.is('mobile')" [attr.dir]="this._translateService.direction()">

      <ion-tab-button tab="dashboard" layout="icon-start">
        <ion-icon src="assets/img/ic_home_tab.svg"></ion-icon>
        <ion-label>{{ 'Home' | translate }}</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="payments" layout="icon-start">
        <ion-icon src="assets/img/ic_payment_tab.svg"></ion-icon>
        <ion-label>{{ 'Payments' | translate }}</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="profile" layout="icon-start">
        <ion-icon src="assets/img/ic_profile_tab.svg"></ion-icon>
        <ion-label>{{ 'Profile' | translate }}</ion-label>
      </ion-tab-button>
    </ion-tab-bar>

    <ion-tab-bar slot="bottom" class="mobile" *ngIf="platform.is('mobile')"
      [attr.dir]="this._translateService.direction()">

      <ion-tab-button tab="dashboard">
        <ion-icon src="assets/img/ic_home_tab.svg"></ion-icon>
        <ion-label>{{ 'Home' | translate }}</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="payments">
        <ion-icon src="assets/img/ic_payment_tab.svg"></ion-icon>
        <ion-label>{{ 'Payments' | translate }}</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="profile">
        <ion-icon src="assets/img/ic_profile_tab.svg"></ion-icon>
        <ion-label>{{ 'Profile' | translate }}</ion-label>
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>
</ion-content>
