ion-tab-bar {
    //background: rgba(255, 255, 255, 0.9) !important;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1) !important;
}


.dummy-btn-wrapper {
    visibility: hidden;
}

.brand {
    text-align: center;

    img {
        max-width: 167.8px;
    }
}

.browser-tab .brand img {
    top: 5px;
    position: relative;
}

.browser-tab::after {
    content: none;
}

ion-tab-bar[slot="top"] {
    margin-top: 10px;
}

ion-tab-button ion-label {
    color: #292f38;
}

ion-tab-button:hover {
    ion-icon {
        //filter: invert(31%) sepia(32%) saturate(1523%) hue-rotate(196deg) brightness(94%) contrast(85%);
    }

    ion-label {
        color: var(--ion-color-primary);
    }
}

.tab-selected {

    ion-icon {
        //filter: invert(31%) sepia(32%) saturate(1523%) hue-rotate(196deg) brightness(94%) contrast(85%);
    }

    ion-label {
        color: var(--ion-color-primary);
    }
}

.mobile.ios {
  padding-bottom: 35px;
}

.mobile {
    padding: 3px;
    ion-tab-button {
        ion-icon {
            width: 20px;
        }

        ion-label {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 600;
            font-size: 12px;
            line-height: 16px;
            text-align: center;
            color: #7D7D8D;
        }
    }
}

ion-toolbar.main-toolbar {
    max-width: 765px;
    margin: auto;
}

.browser-tab {
    .setting-btn {
        top: 5px;
    }
}

[dir="ltr"] {
    .tab-button[aria-selected="false"] {
        .tab-badge {
            right: -10px !important;
        }
    }

    .tab-button[aria-selected="true"] {
        .tab-badge {
            right: -10px !important;
        }
    }

    ion-toolbar ion-buttons.lang-btn {
        right: 1px;
    }
}

.brand.desktop {
    display: block;
}

.brand.mobile {
    display: none;
}

.mobile-tab {
    //height: 166px;

    ion-toolbar.main-toolbar {
        --min-height: 60px !important;
        min-height: 60px !important;
        --padding: 0;
        --margin: 0;
    }

    .brand.desktop {
        display: none;
    }

    .brand.mobile {
        display: block;
        position: absolute;
        left: 13px;
        top: 43px;

        img {
            width: 31px;
        }
    }

    h2.title {
        display: block;
        position: absolute;
        left: 42px;
        top: 49px;
        font-size: 36px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #000000;
        margin: 0;
    }
}


[dir="rtl"] {

    .tab-button[aria-selected="false"] {
        .tab-badge {
            left: -10px !important;
        }
    }

    .tab-button[aria-selected="true"] {
        .tab-badge {
            left: -10px !important;
        }
    }

    .mobile-tab {
        .brand.mobile {
            right: 13px;
            left: auto;
        }

        h2.title {
            right: 42px;
            left: auto;
        }
    }
}
.ion-selectable {
    .icon-selected {
        display: none;
    }

    .not-current {
        display: inline-block;
    }
}
.ion-selectable.tab-selected {
    .icon-selected {
        display:inline-block;
        //width:50px;
    }
    .not-current {
        display:none;
    }

    ion-label {
        font-weight: 700!important;
        font-size: 12px!important;
        line-height: 16px!important;
        color: #4C70F2!important;
    }
}

ion-fab {
    ion-badge {
        border-radius: 100%;
        width: auto;
        aspect-ratio: 1;
        padding: 4px 8px;
        position: absolute;
        top: -5px;
        right: 0px;
    }
}

[dir="ltr"] {
    ion-fab {
        ion-badge {
            left: auto;
            right: 0px;
        }
    }
}

[dir="rtl"] {
    ion-fab {
        ion-badge {
            left: 0px;
            right: auto;
        }
    }
}


.btn-alert {
    border-radius: 8px;
    background: var(--Blue-Tint-1, #F5F7FF);
    --border-radius: 8px !important;
    --background: var(--Blue-Tint-1, #F5F7FF);

    ion-badge {
        margin-inline-start: 5px;
    }
}