<ion-content [attr.dir]="translateService.direction()">
  <div class="max-width">
    <ion-button fill="clear" (click)="dismiss()" class="btn-close">
      <img src="assets/images/ic_cancel.svg" />
    </ion-button>

    <h3>{{ "Type your new password" | translate }}</h3>

    <form [formGroup]="passwordForm" (ngSubmit)="save()" class="classicInput" novalidate>

      <ion-input type="password" enterkeyhint='{{ "Submit" | translate }}' #inptPassword 
        formControlName="newPassword" placeholder="{{ 'New password' | translate }}"></ion-input>

      <ion-button class="btn-signup" [disabled]="!passwordForm.valid || isLoading" type="submit">
        <ion-spinner *ngIf="isLoading"></ion-spinner>
        <span *ngIf="!isLoading">{{ "Submit" | translate }}</span>
      </ion-button>
    </form>
  </div>
</ion-content>
