<ion-header [translucent]="true" >
  <ion-toolbar>
    <ion-buttons [collapse]="true" slot="start">
      <ion-back-button defaultHref="/" text="{{'Back' | translate}}"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="candidateWorkingHourData">{{candidateWorkingHourData.date | date : 'mediumDate': undefined: translateService.currentLang}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" [scrollEvents]="true" (ionScroll)="logScrolling($event)" [attr.dir]="translateService.direction()">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-buttons [collapse]="true" slot="start">
        <ion-back-button defaultHref="/" text="{{'Back' | translate}}"></ion-back-button>
      </ion-buttons>
      <ion-title *ngIf="candidateWorkingHourData">{{candidateWorkingHourData.date | date : 'mediumDate': undefined: translateService.currentLang}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-progress-bar *ngIf="loading" type="indeterminate"></ion-progress-bar>

  <div class="max-width">
    <ion-list *ngIf="candidateWorkingHourData">

      <ion-card class="main-card">
        <ion-card-content>
          <h4>{{"Total Time" | translate}}</h4>
          <h3>{{secondsToTime(candidateWorkingHourData.total_time)}}</h3>
          <ion-grid>
            <ion-row>
              <ion-col><span>{{"Start Time:" | translate}}</span> {{ translateService.toDate(getStartTime()) | date: "shortTime": undefined: translateService.currentLang}}</ion-col>
              <ion-col><span>{{"End Time:" | translate}}</span> {{ translateService.toDate(getEndTime()) | date: "shortTime": undefined: translateService.currentLang}}</ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>

      <div class="lbl">{{"Session" | translate}} ({{candidateWorkingHourData.dateListByCandidate.length}})</div>

      <ng-container *ngFor="let hour of candidateWorkingHourData.dateListByCandidate">
        <ion-card class="sub-card">
          <ion-card-content>
            <h3>{{secondsToTime(hour.total_time)}}</h3>
            <span>{{ translateService.toDate(hour.start_time) | date: "shortTime": undefined: translateService.currentLang}} -> 
                {{ translateService.toDate(hour.end_time) | date: "shortTime": undefined: translateService.currentLang }}</span>
          </ion-card-content>
        </ion-card>
      </ng-container>
    </ion-list>
    <p *ngIf="!candidateWorkingHourData">{{"No record found" | translate}}</p>
  </div>
</ion-content>
