<ion-header>
  <ion-navbar>
    <button ion-button menuToggle="left">
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title *ngIf="assigned">Currently Assigned</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-sliding *ngIf="assigned">
      <button ion-item>
        Company Name:{{ assigned.company_name}}<br>
        Company Email: {{ assigned.company_email}}<br>
        Store Name: {{ assigned.store_name}}  <br>
      </button>
    </ion-item-sliding>
  </ion-list>
</ion-content>
