<ion-card class="card-invitation" [attr.dir]="translateService.direction()">

  <p class="job-type" *ngIf="model.request.request_position_type == 1">
    {{ "Full time job" | translate }}
  </p>
  
  <p class="job-type" *ngIf="model.request.request_position_type == 2">
    {{ "Part time job" | translate }}
  </p>

  <p class="company" *ngIf="translateService.currentLang == 'en'">{{ model.company.company_common_name_en? model.company.company_common_name_en: model.company.company_name }}</p>

  <p class="company" *ngIf="translateService.currentLang != 'en'">{{ model.company.company_common_name_ar? model.company.company_common_name_ar: model.company.company_name }}</p>

  <p class="txt-wrorking-as">{{ "working as" | translate }} </p>

  <p class="txt-position-title">{{ model.request.request_position_title }}</p>

  <h3 class="invitation-heading">{{ "Job Description" | translate }}</h3>

  <p class="invitation-detail">{{ model.request.request_job_description }}</p>

  <h3 class="invitation-heading">{{ "You will be compensated" | translate }}</h3>

  <p class="invitation-detail">{{ model.request.request_compensation }}</p>

  <ng-container *ngIf="model.request.request_location">
    <h3 class="invitation-heading">{{ "Location" | translate }}</h3>

    <p class="invitation-detail">{{ model.request.request_location }}</p>
  </ng-container>

  <ng-container *ngIf="model.invitation_status > 1">
    <ion-badge *ngIf="model.invitation_status == 2" color="success">{{ "Accepted" | translate }}</ion-badge>
    <ion-badge *ngIf="model.invitation_status == 3" color="danger">{{ "Rejected" | translate }}</ion-badge>
  </ng-container>
  <ng-container *ngIf="model.invitation_status == 1 && model.request.request_status != 'started'">
    <p>{{ "This job has been already filled or cancelled before you had the chance to respond" | translate }}</p>
  </ng-container>
</ion-card>

<ng-container *ngIf="model.invitation_status == 1 && model.request.request_status == 'started'">
  <ion-button class="btn-signup" (click)="accept($event)">
    {{ "Sign me up" | translate }}
  </ion-button>
  <ion-button class="btn-reject" (click)="reject($event)">
    {{ "Reject" | translate  }}
  </ion-button>
</ng-container>
