.logo {
  position: absolute;
  top: 25px;
  left: 30px;

//  margin-top: 50px;
//  text-align: center;
}

h3 {
  margin-top: 27.8px;
  height: 62px;
  font-size: 22px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
  text-align: center;
  margin-bottom: 30px;
  font-family: EffraLight;
}

.btn-login-bawes,
.btn-sign-up {
  --border-radius: 47px;
  --box-shadow: none;
  height: 53px;
  font-weight: bold;
  text-transform: initial;
  font-size: 16px;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.65;
  letter-spacing: normal;
  color: #ffffff;
  width: 100%;
}

.btn-sign-up {
  margin-bottom: 7px;
}

.float-logo {
  margin-top: 60px;
  margin-bottom: -78px;
  text-align: center;
  
  img {
    width: 306px;
    height: 230px;
  }
}

.visit-site {
  height: 84px;
  border-radius: 22px;
  border: solid 1px #bdbdbd;
  background-color: #ffffff;
  padding: 15px; 
  width: 100%; 
  margin: 0;
  box-shadow: none;

  strong {
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.65;
    letter-spacing: normal;
    color: #000000;
    display: block;
    text-align: center;
  }

  span {
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.65;
    letter-spacing: normal;
    color: #000000;
    display: block;
    text-align: center;
  }
}

.max-width {
  position: relative;
}

.translate-link {
  cursor: pointer;
  position: absolute;
  top: 25px;
  right: 45px;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
  z-index: 9999;
}

@media only screen and (min-width: 750px) {
  .max-width {
    max-width: 488px;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 750px) {
  .max-width {
    padding: 30px;
  }

  .translate-link {
    right: 30px;
  }
}

[dir="rtl"] {
  h3 {
    margin-bottom: 35px;
  }

  .float-logo {
    margin-bottom: -84px;
  }

  .translate-link {
    left: 30px;
    right: auto;
  }
  .logo {
    right: 30px;
    left: auto;
  }
}

.slide {
  padding: 0 9px;
}

ion-slides {
  height: 100%;
}

.swiper-slide {
  display: block;
}

.swiper-slide h2 {
  //margin-top: 2.8rem;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}

.swiper-slide img {
  max-height: 50%;
  max-width: 80%;
  margin: 15px 0 0;
  pointer-events: none;
}

b {
  font-weight: 500;
}

p {
  margin: 21px 1px 33.9px 0;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}

p b {
  color: var(--ion-text-color, #000000);
}
.margin-bottom-10 {
  margin-bottom: 10px;
}

.btn-login {
  text-transform: inherit;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.65;
  letter-spacing: normal;
  text-align: center;
  color: #000;
  span {
    font-weight: bold;
    color: #4354a4;
    text-decoration:none;
  }
}
.top-bar {
  height: 55px;
  margin-top: 24px;
}
.btn-apple {
  background: url(../../../../assets/images/apple-logo.svg) no-repeat #fff;
  background-size: auto;
}

.div-space {
  border-radius: 4px !important;
  background-color: #ffffff !important;
  background-color: var(--white) !important;
  border: solid 1px rgba(170, 170, 170, 0.3) !important;
}

.btn-apple,
.btn-google,
.button-outline-md:hover:not(.disable-hover) {
  font-size: 21px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: black;
  border-style: none !important;
  border-radius: 4px !important;
  --border-radius: 4px;
  height: 50px;
  text-transform: unset;
  background-position: 36px 11px;
  width: calc(100% - 2px);
  border-radius: 4px !important;
  background-color: #ffffff !important;
  border: solid 1px black !important;
  font-family: -apple-system,BlinkMacSystemFont;
  --background-activated: #fff;
  --background-focused: #fff;
  --background-hover: #fff;
  --color-activated: black;
  --color-focused: black;
  --color-hover: black;
  outline: none;
}

[dir="ltr"] .btn-google {
  background-position: 36px 13px;
}

[dir="rtl"] .btn-google {
  background-position: calc(100% - 20px) 13px;
}

[dir="ltr"] .btn-apple {
  background-position: 26px 3px;
}

[dir="rtl"] .btn-apple {
  background-position: calc(100% - 10px) 3px;
}
