<ion-content [attr.dir]="translateService.direction()">
  <div class="desktop-view">

      <a class="translate-link" (click)="translate()">
        <span *ngIf="translateService.currentLang != 'en'">English</span>
        <span *ngIf="translateService.currentLang == 'en'">عربى</span>
      </a>

      <div class="max-width">

        <div class="logo">
          <img src="assets/logo.svg">
        </div>

        <h3>
          {{ "Part-time jobs for students and fresh graduates" | translate }}
        </h3>

        <ion-button class="start-btn" expand="block" (click)="loginPage()" color="dark">
          {{ "Sign up / Log in" | translate }}
        </ion-button>

        <div class="footer">
          <div class="float-logo">
            <img src="assets/floatDoodle.svg">
          </div>
          <ion-card class="visit-site" tappable (click)="visitWebsite()">
            <strong>{{ "Learn more about StudentHub" | translate }}</strong>
            <span>{{ "Visit our website" | translate }}</span>
          </ion-card>
        </div>
      </div>
  </div>
</ion-content>
