<ion-header [translucent]="true" *ngIf="platform.is('mobile')">
  <ion-toolbar>
    <ion-title>{{"Invitations" | translate}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" [scrollEvents]="true" (ionScroll)="logScrolling($event)" [attr.dir]="translateService.direction()">
  <ion-header collapse="condense" *ngIf="platform.is('mobile')">
    <ion-toolbar>
      <ion-title size="large">{{"Invitations" | translate}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-progress-bar *ngIf="loading" type="indeterminate"></ion-progress-bar>

  <div class="max-width">

    <app-invitation [model]="invitation" *ngFor="let invitation of invitations" (onUpdate)="loadInvitations()">
    </app-invitation>
 
    <no-items *ngIf="!loading && invitations.length == 0" 
      image="assets/icons/no-invitation.svg"
      message="~ No invitation yet ~"></no-items>

    <ion-infinite-scroll *ngIf="currentPage < pageCount" (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content>
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>

  </div>

</ion-content> 