<ion-content [scrollEvents]="true" (ionScroll)="logScrolling($event)" [attr.dir]="translateService.direction()">

  <ion-progress-bar *ngIf="updating" type="indeterminate"></ion-progress-bar>

  <div class="max-width" *ngIf="!loading">

    <h3>{{ "Invitations" | translate }}</h3>

    <h3 class="txt-invitation" *ngIf="invitations.length > 0">
      {{ "Would you be interested in the following job?" | translate }}
    </h3>

    <app-invitation [model]="invitation" *ngFor="let invitation of invitations" (onUpdate)="loadInvitations()">
    </app-invitation>

    <ion-infinite-scroll *ngIf="currentPage < pageCount" (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content>
    </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>

</ion-content>
