<ion-content [attr.dir]="translate.direction()">
  <div class="max-width">

    <ion-button fill="clear" (click)="dismiss()" class="btn-close">
      <img src="assets/images/ic_cancel.svg" />
    </ion-button>

    <h3>{{ "Forgot your password?" | translate }}</h3>

    <p>
      {{ "Enter your email to receive a password reset link. You may need to check your spam folder or unblock contact@studenthub.co" | translate }}
    </p>

    <form [formGroup]="resetForm" novalidate (ngSubmit)="sendPassword()">

      <ion-input formControlName="email" inputmode="email" enterkeyhint="Submit" placeholder="{{ 'Your Email Address' | translate }}" type="text"></ion-input>
      
      <ion-button class="btn-signup" [disabled]="!resetForm.valid || isLoading" type="submit">
        <ion-spinner *ngIf="isLoading"></ion-spinner>
        <span *ngIf="!isLoading">{{ "Request Password Reset" | translate }}</span>
      </ion-button>

    </form>

  </div>

</ion-content>
