<ion-header>
  <ion-toolbar class="max-width">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text="{{'Back' | translate}}"></ion-back-button>
    </ion-buttons>
    <ion-title>{{"Wallet" | translate}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [scrollEvents]="true" (ionScroll)="logScrolling($event)" [attr.dir]="translateService.direction()">

  <ion-progress-bar *ngIf="loading" type="indeterminate"></ion-progress-bar>
  <div class="max-width">
    <div *ngIf="balances && balances.length > 0">
      <h2>{{"Wallet Balance" | translate}}</h2>
      <ng-container *ngFor="let balance of balances">

        <ion-card >
          <ion-item>
            <ion-label>
              <p>
                <span *ngIf="balance.amount < 0"><strong>{{"Debit:" | translate}} </strong> {{positive(balance.amount) | currency:'KWD'}}</span>
                <span *ngIf="balance.amount > 0"><strong>{{"Credit:" | translate}} </strong> {{positive(balance.amount) | currency:'KWD'}}</span>
              </p>
              <p><strong>{{"Balance:" | translate}} </strong> {{balance.balance | currency:'KWD'}}</p>
              <p><strong>{{"Note:" | translate}} </strong>{{balance.data}}</p>
              <p><strong>{{"Created At:" | translate}} </strong>{{balance.created_at | date :'mediumDate': '': translateService.currentLang == 'ar' ? 'ar-KW' : 'en-US' }}</p>
              <p><strong>{{"Transaction time:" | translate}} </strong>{{balance.transaction_datetime | date :'mediumDate': '': translateService.currentLang == 'ar' ? 'ar-KW' : 'en-US' }}</p>
            </ion-label>
          </ion-item>
        </ion-card>
      </ng-container>
    </div>
    <p class="ion-text-center" *ngIf="balances && balances.length == 0">{{"No record found" | translate}}</p>

    <ion-infinite-scroll *ngIf="currentPage < pageCount" (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content>
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
</ion-content>
