<ion-header>
  <ion-toolbar class="max-width">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" icon="assets/images/icon-back.svg"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ "Change Password" | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [attr.dir]="translateService.direction()">
  <div class="max-width">
    <form (ngSubmit)="save()" (keyup.enter)="save()" [formGroup]="passwordForm">
    <ion-list>
        <ion-item>
          <ion-label position="floating">{{ "Old Password" | translate }} </ion-label>
          <ion-input (ionBlur)="validateOldPassword($event)" type="{{ oldType }}" #inptPassword autocomplete="off1" formControlName="oldPassword"></ion-input>
          <ion-button class="btn-password" fill="clear" (click)="toggleOldPasswordVisibility()">
            <ion-icon *ngIf="!validatingPassword && oldType == 'password'" name="eye"></ion-icon>
            <ion-icon *ngIf="!validatingPassword && oldType != 'password'" name="eye-off"></ion-icon>
          </ion-button>
          <ion-spinner *ngIf="validatingPassword" class="btn-password"></ion-spinner>
        </ion-item>
        
        <ion-item>
          <ion-label position="floating">{{ "New Password" | translate }} </ion-label>
          <ion-input type="{{ type }}" formControlName="newPassword" autocomplete="off1"></ion-input>
          <ion-button class="btn-password" fill="clear" (click)="togglePasswordVisibility()">
            <ion-icon *ngIf="type == 'password'" name="eye"></ion-icon>
            <ion-icon *ngIf="type != 'password'" name="eye-off"></ion-icon>
          </ion-button>
        </ion-item>

        <ion-item lines="none">
          <div tabindex="0"></div>
          <ion-button class="btn-submit" type="submit" [disabled]="isLoading || !passwordForm || !passwordForm.valid">
            <span *ngIf="!isLoading">{{ "Save" | translate }}</span>
            <ion-spinner *ngIf="isLoading"></ion-spinner>
          </ion-button>
        </ion-item>
        
    </ion-list>
  </form>
  </div>
</ion-content>
