<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="dashboard"></ion-back-button>
    </ion-buttons>

    <ion-title>{{ "Change Password" | translate }}</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content [attr.dir]="translateService.direction()">
  <form [formGroup]="passwordForm">
    <ion-list>
        <ion-item>
          <ion-label position="floating">{{ "Old Password" | translate }} </ion-label>
          <ion-input type="password" formControlName="oldPassword"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">{{ "New Password" | translate }} </ion-label>
          <ion-input type="password" formControlName="newPassword"></ion-input>
        </ion-item>

        <ion-item lines="none">
          <ion-button [disabled]="isLoading || !passwordForm || !passwordForm.valid" (click)="save()">
            <span *ngIf="!isLoading">{{ "Save" | translate }}</span>
            <ion-spinner *ngIf="isLoading"></ion-spinner>
          </ion-button>
        </ion-item>
        
    </ion-list>
  </form>
</ion-content>
