.profileArea {
    background: var(--ion-color-primary);
    color: #eee;

    img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }

    h2 {
        color: white;
        font-weight: bold;
    }
}

ion-card {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08), 2px 0 4px 0 rgba(0, 0, 0, 0.12);
    background-color: #ffffff;
    border-radius: 1px;
    margin: 16px 0 0 0;
}

[dir="rtl"] ion-card {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08), -2px 0 4px 0 rgba(0, 0, 0, 0.12);
}


h1 {
    font-size: 36px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    margin-top: 28px;
    margin-bottom: 25px;
}
h3 {
    font-size: 22px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
}

.name,
.bank,
.iban {
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    display: block;
}
.name {
    font-weight: bold;
}

.change-bank {
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4354a4;
    margin-top: 9px;
    display: block;
    margin-bottom: 6px;
}

.salaries {
    .date {
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #000;
    }
    .sal {
        font-size: 24px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color:#000;
    }
    .from {
        font-size: 14px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        margin-bottom: 14px;
        color: #000;
    }
    .pending-status {
        font-size: 12px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #000;
    }
    .name,
    .bank,
    .iban {
        font-size: 12px;
    }
}
ion-card.pending {
    border-left: 6px solid #f2c94c;
}

ion-card.success {
    border-left: 6px solid #6fcf97;
}
.max-width {
    margin: 0 auto;
}
.bank-detail-btn {
    width: 212px;
    height: 43px;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.65;
    letter-spacing: normal;
    color: #000000;
    margin-bottom: 38px;
    margin-top: 20px;
    text-transform: capitalize;
}
.bank-card ion-card-content{
    padding-left: 24px;
}
h3 {
    font-family: 'effraLight', sans-serif !important;
    --ion-font-family: 'effraLight', sans-serif !important;
}
.transfer-to {
    margin: 14px 0 0;
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000;
}
