<ion-content [attr.dir]="translateService.direction()">

  <div class="max-width">
    <ion-button fill="clear" (click)="dismiss()" class="btn-close">
      <img src="assets/images/ic_cancel.svg" />
    </ion-button>

    <h3>{{ "Upload your CV / Resume / Portfolio" | translate }}</h3>


    <div *ngIf="!progress">

      <div class="selected-file" *ngIf="candidate.candidate_resume">
         
          <div class="fileName">{{ candidate.candidate_resume }}</div>

          <a target="_blank" (click)="$event.stopPropagation()" *ngIf="!candidate.tempLocation"
              href="{{ awsService.permanentBucketUrl }}candidate-resume/{{ candidate.candidate_resume }}">
              <ion-icon src="assets/images/md-arrow-down.svg"></ion-icon>
          </a>
          
          <a target="_blank" (click)="$event.stopPropagation()" *ngIf="candidate.tempLocation"
              href="{{ candidate.tempLocation }}">
              <ion-icon src="assets/images/md-arrow-down.svg"></ion-icon>
          </a>                    
      </div>

      <ion-button tabindex="2" class="fileUpload" full (click)="mobileUpload();" *ngIf="platform.is('hybrid')">
          <ion-icon src="assets/images/md-cloud-upload.svg"></ion-icon>
          <span *ngIf="candidate.candidate_resume">{{ "Replace File" | translate }}</span>
          <span *ngIf="!candidate.candidate_resume">{{ "Select file" | translate }}</span>
      </ion-button>

      <ion-button tabindex="3" class="fileUpload" full *ngIf="!platform.is('hybrid')">
          <ion-icon src="assets/images/md-cloud-upload.svg"></ion-icon>
          <span *ngIf="candidate.candidate_resume">{{ "Replace File" | translate }}</span>
          <span *ngIf="!candidate.candidate_resume">{{ "Select file" | translate }}</span>
          <input class="upload" type='file' #fileInput (change)="browserUpload($event)">
          <!-- .png,.jpg,.jpeg,.pdf,.doc,.docx -->
      </ion-button>
      
  </div>

  <div class="progress-wrapper" *ngIf="progress">
      <div class="progress-box">

          <h4>{{ "Uploading…" | translate }} <span>{{ progress + '%' }}</span></h4>

          <div class="progress-bar">
              <div class="progress" [style.width]="progress + '%'"></div>
          </div>

          <ion-icon *ngIf="currentTarget" tappable src="assets/images/close.svg" (click)="cancelUpload()">
          </ion-icon>
      </div>
  </div>

  </div>
</ion-content>