.upload {
  opacity: 0;
}


h3 {
  font-size: 42px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
  margin-top: 33px;
  margin-bottom: 35px
}
.change-logo {
  height: 42px;
  border-radius: 4px;
  background-color: #333333;
}
