app-work-hour-approved,
app-work-hour-rejected,
app-invitation,
app-assigned,
app-unassigned,
app-transfer-init,
app-transfer-paid,
app-invitation-notification,
app-transfer-unpaid,
app-work-session-approved,
app-work-session-rejected,
ion-card {
    margin-bottom: 16px;
    display: block;
}

app-work-session-approved,
app-work-session-rejected,
app-invitation-notification,
app-transfer-init,
app-transfer-paid,
app-transfer-unpaid,
app-invitation {
    margin: 0 12px 16px;
}

ion-card { 
    --border-radius: 8px;
    --box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.10);
    border-radius: 8px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.10);
    --background: var(--Neutral-0, #FFF);
    display: flex;
    //width: 342px;
    //padding: 12px 16px;
    --ion-padding-start: 16px;
    --ion-padding-end: 16px;
    --ion-padding-top: 12px;
    --ion-padding-bottom: 12px;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
}

.btn-refresh { 
    --color: #fff;
    --border-radius: 12px;
    text-transform: none;
    margin: auto;
    z-index: 99999999;
    position: fixed;
    width: 120px; 
    left: calc(100% / 2 - 60px);

    ion-icon {
        margin-inline-start: 5px;
        position: relative;
    }
}

[dir="ltr"] .btn-refresh ion-icon { 
    right: -8px;
    left: auto;
}

[dir="rtl"] .btn-refresh ion-icon { 
    left: -8px;
    right: auto;
}

[dir="rtl"] ion-back-button {
    rotate: 180deg;
}

h5 {
    color: #000;
    font-feature-settings: 'liga' off, 'clig' off;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; /* 133.333% */
    margin: 16px 0;
}