<ion-header [translucent]="true">
  <ion-toolbar class="max-width">
    <ion-buttons slot="start">
      <ion-back-button mode="md" icon="assets/images/icon-back.svg" defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar class="max-width">
    <ion-title>{{ "Activity" | translate}}</ion-title>
  </ion-toolbar>
  <!-- todo: more icon with actions: mark all read -->
</ion-header>
<ion-content [fullscreen]="true" [scrollEvents]="true" (ionScroll)="logScrolling($event)" 
  [attr.dir]="translateService.direction()">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ "Activity" | translate}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-progress-bar *ngIf="loading" type="indeterminate"></ion-progress-bar>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <!--
  <ion-button *ngIf="showRefresh" (click)="doRefresh()" class="btn-refresh" color="warning">
    {{ "Refresh" | translate }} <ion-icon name="refresh-outline"></ion-icon>
  </ion-button>-->
  
  <div class="max-width">

    <!--
    <h5>{{ "Pending" | translate }}</h5>

    <h5>{{ "This Week" | translate }}</h5>

    <h5>{{ "Older" | translate }}</h5>-->

    <ng-container *ngFor="let candidateNotification of candidateNotifications">

      <ng-container [ngSwitch]="candidateNotification.type">
 
        <app-work-hour-approved *ngSwitchCase="3"
        tappable
          (click)="markRead(candidateNotification)"
          [candidateNotification]="candidateNotification"></app-work-hour-approved>
            
        <app-work-hour-rejected *ngSwitchCase="4"
        tappable
          (click)="markRead(candidateNotification)"
            [candidateNotification]="candidateNotification"></app-work-hour-rejected>

        <app-invitation-notification *ngSwitchCase="0"
          tappable
          (click)="markRead(candidateNotification)"
            [candidateNotification]="candidateNotification"></app-invitation-notification>
            
        <app-assigned *ngSwitchCase="1"
        tappable
        (click)="markRead(candidateNotification)"
          [candidateNotification]="candidateNotification"></app-assigned>

        <app-unassigned *ngSwitchCase="2"
        tappable
        (click)="markRead(candidateNotification)"
            [candidateNotification]="candidateNotification"></app-unassigned>

        <app-transfer-init *ngSwitchCase="5"
        tappable
        (click)="markRead(candidateNotification)"
            [candidateNotification]="candidateNotification"></app-transfer-init>
  
        <app-transfer-paid *ngSwitchCase="6"
        tappable
        (click)="markRead(candidateNotification)"
          [candidateNotification]="candidateNotification"></app-transfer-paid>

        <app-transfer-unpaid *ngSwitchCase="7"
        tappable
        (click)="markRead(candidateNotification)"
          [candidateNotification]="candidateNotification"></app-transfer-unpaid>

        <ion-card *ngSwitchDefault tappable
          (click)="markRead(candidateNotification)"> 
          <ion-card-content>
            {{ candidateNotification.message }}
          </ion-card-content>
        </ion-card>

      </ng-container>
      
      <!-- 
      TODO: 
      
      const CN_TYPE_TRANSFER_INIT = 5;
      const CN_TYPE_TRANSFER_PAID = 6;
      const CN_TYPE_TRANSFER_UNPAID = 7;

      -->
    </ng-container>
 
    <no-items *ngIf="!loading && candidateNotifications.length == 0" 
      image="assets/icons/no-invitation.svg"
      message="~ No activity yet ~"></no-items>

    <ion-infinite-scroll *ngIf="currentPage < pageCount" (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content>
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>

  </div>

</ion-content> 