<ion-content [attr.dir]="translateService.direction()">
  <div class="max-width">
    <ion-button fill="clear" (click)="dismiss()" class="btn-close">
      <img src="assets/images/ic_cancel.svg" />
    </ion-button>

    <h3>{{ "Let’s make you an account" | translate }}</h3>

    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" novalidate>

      <ion-input type="text" #nameInput formControlName="name" placeholder="{{ 'Your name as shown on your civil id' | translate }}"></ion-input>

      <ion-input type="text" #phoneInput formControlName="phone" maxlength="10" placeholder="{{ 'Your Phone Number' | translate }}"></ion-input>

      <ion-input type="password" #passwordInput formControlName="password" placeholder="{{ 'Your password' | translate }}"></ion-input>

      <ion-button class="btn-signup" [disabled]="!registerForm.valid || isLoading" type="submit">
        <ion-spinner *ngIf="isLoading"></ion-spinner>
        <span *ngIf="!isLoading">{{ "Create Account" | translate }}</span>
      </ion-button>
    </form>
  </div>

</ion-content>
