<ion-header [translucent]="true" *ngIf="platform.is('mobile')">
  <ion-toolbar>
    <ion-title>{{ "Scheduled Interviews" | translate}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" [scrollEvents]="true" (ionScroll)="logScrolling($event)" [attr.dir]="translateService.direction()">
  <ion-header collapse="condense" *ngIf="platform.is('mobile')">
    <ion-toolbar>
      <ion-title size="large">{{ "Scheduled Interviews" | translate}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-progress-bar *ngIf="loading" type="indeterminate"></ion-progress-bar>

  <div class="max-width">
 
    <request-listing [request]="interview.request" 
      [interview]="interview" *ngFor="let interview of interviews">
    </request-listing>
 
    <no-items *ngIf="!loading && interviews.length == 0" 
      message="~ Your scheduled interviews will be listed here ~"></no-items>

    <ion-infinite-scroll *ngIf="currentPage < pageCount" (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content>
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>

  </div>

</ion-content> 