.job-type {
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000;
}

.txt-position-title{
    margin: 9px 26px 8px 6px;
    font-size: 27px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000;
}

.company {
    margin: 8px 0 24px 6px;
    font-size: 21.9px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000;
    span {
        color: #4c5df2;
    }
}
.job-desc {
    margin: 24px 52px 15px 6px;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.65;
    letter-spacing: normal;
    text-align: left;
    color: #000;
}
h2 {
    margin: 22px 0 2px 6px;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000;
}
.job-location,.job-compensation {
    margin: 2px 58px 6px 6px;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.65;
    letter-spacing: normal;
    text-align: left;
    color: #000;
}
.btn-apply {
    width: 200px;
    height: 45px;
    margin: 19px 9px 0 0;
    border-radius: 5px;
    color:#fff;
    --color:#fff;
    background-color: #219653;
    --background: #219653;
    text-transform: inherit;
}
.btn-reject {
    width: 104px;
    height: 45px;
    margin: 19px 7px 0 9px;
    border-radius: 5px;
    color:#fff;
    --color:#fff;
    background-color: #eb5757;
    --background: #eb5757;
    text-transform: inherit;
}
ion-content .max-width {
    padding: 23px;
}
ion-toolbar {
    ion-buttons {
        padding: 23px 0 0 23px;
    }
}

.btn-close {
    --padding-bottom: 0;
    --padding-start: 0;
    --padding-end: 0;
    --padding-top: 0;
    margin: 0;
    height: auto;
}


.msg {
    margin: 17px 26px 24px 2px;
    padding: 16px 21px 18px 23px;
    border-radius: 5px;
    background-color: #fff8ea;
    img {
        width: 19px!important;
        height: 28.2px!important;
        max-width: 19px !important;
    }
    .txt {
        //font-family: 'EffraMedium';
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #000;
    }

}
.request-completed {
    background: #f2ffea!important;
}
.request-cancelled {
    background: #ffeaea!important;
}

.more-info {
    width: auto;
    min-width: 321px;
    background-color: #4c5df2;
    --background: #4c5df2;
}
