<ion-content [attr.dir]="translateService.direction()">

  <div class="max-width">
    <ion-button fill="clear" (click)="dismiss()" class="btn-close">
      <img src="assets/images/ic_cancel.svg" />
    </ion-button>

    <h3>
      {{ "National ID" | translate }}
    </h3>

    <p>
      {{ "We’ll be using the information you provide to possibly match you with a work opportunity" | translate }}
    </p>

    <ion-list *ngIf="candidate">

<!--
      <ion-item tappable (click)="updateCandidateIdNumber()" [class.required]="!candidate.candidate_civil_id || !candidate.candidate_civil_expiry_date">
        <div tabindex="0"></div>
        <ion-label>
          <!-- "ID Number and Expiry Date"--
          <small>{{ "Civil ID number" | translate }}</small>
          <span *ngIf="candidate.candidate_civil_id">{{ candidate.candidate_civil_id | translate }}</span>
        </ion-label>
      </ion-item>-->

      <ion-item tappable (click)="updateCivilIdFront()" [class.required]="!candidate.candidate_civil_photo_front">
        <div tabindex="0"></div>
        <ion-label>
          <small>{{ "ID Photo (Front)" | translate }}</small>
          <img width="126" (error)="onCivilFrontError()" *ngIf="candidate.candidate_civil_photo_front" src="{{ awsService.permanentBucketUrl + 'photos/' + candidate.candidate_civil_photo_front }}" />
          <!--
          <p *ngIf="candidate.candidate_civil_photo_front && candidate.candidate_civil_expiry_date"> {{ "Expiring on" | translate }} {{ candidate.candidate_civil_expiry_date | translate }}</p>
          -->
          <span *ngIf="!candidate.candidate_civil_photo_front">{{ "A photo of your civil id from the front" | translate }}
          </span>
        </ion-label>
      </ion-item>

      <ion-item tappable (click)="updateCivilIdBack()" [class.required]="!candidate.candidate_civil_photo_back">
        <div tabindex="0"></div>
        <ion-label>
          <small>{{ "ID Photo (Back)" | translate }}</small>
          <img width="126" (error)="onCivilBackError()" *ngIf="candidate.candidate_civil_photo_back" src="{{ awsService.permanentBucketUrl + 'photos/' + candidate.candidate_civil_photo_back }}" />
          <span *ngIf="!candidate.candidate_civil_photo_back">{{ "A photo of your civil id from the back" | translate }}
          </span>
        </ion-label>
      </ion-item>

      <ng-container *ngIf="candidate.candidate_civil_photo_back &&
        candidate.candidate_civil_photo_front">
        <ion-item (click)="!candidate.candidate_civil_id && updateCandidateIdNumber()" 
          [class.required]="!candidate.candidate_civil_id">
          <div tabindex="0"></div>
          <ion-label>
            <small>{{ "ID Number" | translate }}</small>
            <span *ngIf="candidate.candidate_civil_id">{{ candidate.candidate_civil_id | translate }}</span>
            <span *ngIf="!candidate.candidate_civil_id">{{ "The number of on your civil id card." | translate }}
            </span>
          </ion-label>
        </ion-item>

        <ion-item (click)="!candidate.candidate_civil_expiry_date && updateCandidateIdNumber()" 
          [class.required]="!candidate.candidate_civil_expiry_date">
          <div tabindex="0"></div>
          <ion-label>
            <small>{{ "ID Expiry Date" | translate }}</small>
            <span *ngIf="candidate.candidate_civil_expiry_date">{{ candidate.candidate_civil_expiry_date | translate }}</span>
            <span *ngIf="!candidate.candidate_civil_expiry_date">{{ "When does it expire?" | translate }}
            </span>
          </ion-label>
        </ion-item>
      </ng-container>

    </ion-list>

    <loading-modal type="national-id" [loading]="!candidate"></loading-modal>

  </div>

</ion-content>
