<ion-content [attr.dir]="translateService.direction()">

  <div class="max-width">
    <ion-button fill="clear" (click)="dismiss()" class="btn-close">
      <img src="assets/images/ic_cancel.svg" />
    </ion-button>

    <h3>{{ "Name (Arabic)" | translate }}</h3>

    <form [formGroup]="form" *ngIf="form">

      <ion-list>
        <ion-input formControlName="name_ar"
          placeholder="{{ 'It should match what’s on your civil id' | translate }}"></ion-input>
      </ion-list>

      <ion-button class="btn-submit" (click)="submit()" [disabled]="!form.valid || isLoading" type="submit">
        <ion-spinner *ngIf="isLoading"></ion-spinner>
        <span *ngIf="!isLoading">{{ "Submit" | translate }}</span>
      </ion-button>
    </form>
  </div>
</ion-content>