<ion-content>

  <h5>Log Time</h5>
  
  <button class="btn-close" (click)="close()">
    <ion-ripple-effect></ion-ripple-effect>
    <ion-icon name="close-outline"></ion-icon>
  </button>

  <form (ngSubmit)="save()" (keyup.enter)="save()" [formGroup]="form" *ngIf="form">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item line="none">
            <ion-label position="floating">Check-in</ion-label>
            <ion-input formControlName="start_time"></ion-input>

            <ion-button slot="end" (click)="selectStartDate($event)">
              <ion-icon slot="end" name="time-outline"></ion-icon>
            </ion-button>

          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item line="none">
            <ion-label position="floating">Check-out</ion-label>
            <ion-input formControlName="end_time"></ion-input>
            <ion-icon slot="end" name="time-outline"></ion-icon>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
    
    <ion-item line="none">
      <ion-label position="floating">Notes</ion-label>
      <ion-textarea formControlName="note"></ion-textarea>
    </ion-item>
  
    <ion-button class="btn-submit" type="submit()" [disabled]="saving || !form.valid">
      <ion-spinner *ngIf="saving"></ion-spinner>
      <span  *ngIf="!saving">Submit Time</span>
    </ion-button>
  </form>
</ion-content>
