<ion-content [attr.dir]="translateService.direction()">

  <ion-button class="btn-logout" fill="clear" (click)="authService.logout()">
    {{ "Logout" | translate }}
  </ion-button>
  
  <ion-button class="translate-link" fill="clear" (click)="translate()">
    <span *ngIf="translateService.currentLang != 'en'">English</span>
    <span *ngIf="translateService.currentLang == 'en'">عربى</span>
  </ion-button>

  <div class="max-width">

    <h3>
      {{ "Complete your Profile" | translate }}
    </h3>

    <p>
      {{ "We’ll be using the information you provide to possibly match you with a work opportunity" | translate }}
    </p>

    <ion-list *ngIf="candidate">

      <ion-item routerLink="/personal-info" [class.required]="!candidate.candidate_driving_license || !candidate.candidate_gender || !candidate.candidate_birth_date || !candidate.nationality || !candidate.university || (candidate.candidateSkills && candidate.candidateSkills.length == 0) || (candidate.candidateExperiences && candidate.candidateExperiences.length == 0) || !candidate.candidate_phone || !candidate.candidate_email || !candidate.candidate_name_ar || !candidate.candidate_name || !candidate.candidate_area_uuid || (this.required_candidate_mom_kuwaiti_field && !candidate.candidate_mom_kuwaiti)">
        <div tabindex="0"></div>
        
        <span slot="start" class="step">
          <ion-icon name="checkmark-outline"></ion-icon>
          <span class="count">1</span>
        </span>
        
        <ion-label>
          {{ "Personal and contact info" | translate }}
        </ion-label>
      </ion-item>

      <ion-item routerLink="/first-impression" [class.required]="!candidate.candidate_personal_photo || !candidate.candidate_objective">
        <div tabindex="0"></div>

        <span slot="start" class="step">
          <span class="count">2</span>
          <ion-icon name="checkmark-outline"></ion-icon>
        </span>
        
        <ion-label>
          {{ "Make a first impression" | translate }}
        </ion-label>
      </ion-item>

      <ion-item routerLink="/national-id" [class.required]="!candidate.candidate_civil_id || !candidate.candidate_civil_expiry_date || !candidate.candidate_civil_photo_front || !candidate.candidate_civil_photo_back">
        <div tabindex="0"></div>

        <span slot="start" class="step">
          <span class="count">3</span>
          <ion-icon name="checkmark-outline"></ion-icon>
        </span>
        
        <ion-label>
          {{ "Your National / Civil ID" | translate }}
        </ion-label>
      </ion-item>

    </ion-list>

    <loading-modal type="complete-profile" [loading]="!candidate"></loading-modal>

  </div>

</ion-content>
<ion-footer *ngIf="candidate && candidate.candidate_driving_license && candidate.candidate_area_uuid && candidate.candidate_gender &&
candidate.candidate_birth_date && candidate.country_id && candidate.university_id && candidate.candidate_civil_id &&
candidate.candidateExperiences && candidate.candidateExperiences.length > 0 && candidate.candidateSkills && candidate.candidateSkills.length > 0 && candidate.candidate_objective &&
candidate.candidate_personal_photo && candidate.candidate_phone && candidate.candidate_email &&
candidate.candidate_name && candidate.candidate_name_ar && candidate.candidate_civil_photo_back && candidate.candidate_civil_photo_front &&
candidate.candidate_civil_expiry_date && !this.candidate.pendingField">
  <div class="max-width">
    <ion-button class="btn-submit" [disabled]="submitting" (click)="submit()">
      <span *ngIf="!submitting">{{ "I have completed my profile" | translate }}</span>
      <ion-spinner *ngIf="submitting"></ion-spinner>
    </ion-button>
  </div>
</ion-footer>

 

