ion-thumbnail {
    width: 136px;
    height: 136px;
    --border-radius: 100%;
    margin: 38px 0 32px 0;
    float: var(--start);
}

h2.candidate-name {
    margin: 0 0 3px 0;
    font-family: Effra;
    font-size: 48px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: black;
    position: relative;
}

h4.candidate-name {
    margin: 5px 0 24px 0;
    font-family: 'Droid Arabic Kufi', 'effra', sans-serif !important;
    --ion-font-family: 'Droid Arabic Kufi', 'effra', sans-serif !important;
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: black;
}

.btn-settings {
    height: 35px;
    --background: #fff;
    --box-shadow: none;
    --color: black;
    border: 1px solid black;
    --border-radius: 5px;
    border-radius: 5px;
    text-transform: none;
    font-size: 12.8px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    width: 104px;
    position: relative;
    top: 10px;
    float: var(--end);
}

[dir="ltr"] .btn-settings ion-icon {
    margin-right: 10px;
}

[dir="rtl"] .btn-settings ion-icon {
    margin-left: 10px;
}

.birth-date {
    margin: 11px 0 24px 0;
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: black;

    b {
        font-size: 18px;
        line-height: 1.5;
    }

    .txt-born-on {
        line-height: 21px;
        font-size: 14px;
    }
}

.introduction,
.objective {
    margin: 24px 0 40px 0;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: black;
}

.introduction {
    font-size: 14px;
}

ion-item {
    --inner-border-width: 0;
    --padding-start: 58px;
    margin-bottom: 5px;

    ion-label {
        white-space: normal;
        margin-bottom: 5px;
        font-size: 14px;
    }

    h5 {
        margin: 0 0 7px 0;
        font-size: 16px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: black;
    }

    p {
        margin: 3px 0 13px 0;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: black;
    }

    .hint {
        font-family: EffraLight;
        margin: 7px 0 11px 0;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: var(--black);
    }
}

.skills,
.experiences {
    p {
        margin-top: 10px;
    }

    span {
        clear: both;
        display: block;
    }
}

.no-logo {
    border: 1px solid #57CCC6;
}

.video {
    --background: url('/assets/images/ic_video.svg') no-repeat 0px 11px;

    img {
        width: 90px;
        margin-top: 5px;
    }
}

.resume {
    --background: url('/assets/images/ic_ad.svg') no-repeat 0px 11px;
}

.skills {
    --background: url('/assets/images/ic_food_tools.svg') no-repeat 0px 11px;
}

.experiences {
    --background: url('/assets/images/ic_suitcase.svg') no-repeat 0px 11px;
}

.area {
    --background: url('/assets/images/ic_home_2.svg') no-repeat 0px 11px;
}

.phone {
    --background: url('/assets/images/ic_phone.svg') no-repeat 0px 15px;
}

.email {
    --background: url('/assets/images/ic_message.svg') no-repeat 0px 15px;
}

.nationality {
    --background: url('/assets/images/ic_globe.svg') no-repeat 0px 15px;
}

.gender {
    --background: url('/assets/images/ic_swipe.svg') no-repeat 0px 15px;
}

.education,
.university {
    --background: url('/assets/images/md-school.svg') no-repeat 0px 15px;
}

.driving-license {
    --background: url('/assets/images/ic_car.svg') no-repeat 0px 15px;
}

.mother-nationality {
    --background: url('/assets/images/ic_username.svg') no-repeat 0px 15px;
}

.id-number {
    --background: url('/assets/images/ic_feed.svg') no-repeat 0px 15px;
}

.civil-front,
.civil-back {
    --background: url('/assets/images/ic_profile_info.svg') no-repeat 0px 15px;

    p {
        margin-bottom: 7px;
    }
}

[dir="rtl"] {

    .video {
        --background: url('/assets/images/ic_video.svg') no-repeat 100% 11px;
    }

    .resume {
        --background: url('/assets/images/ic_ad.svg') no-repeat 100% 11px;
    }

    .skills {
        --background: url('/assets/images/ic_food_tools.svg') no-repeat 100% 11px;
    }

    .experiences {
        --background: url('/assets/images/ic_suitcase.svg') no-repeat 100% 11px;
    }

    .area {
        --background: url('/assets/images/ic_home_2.svg') no-repeat 100% 11px;
    }

    .phone {
        --background: url('/assets/images/ic_phone.svg') no-repeat 100% 15px;
    }

    .email {
        --background: url('/assets/images/ic_message.svg') no-repeat 100% 15px;
    }

    .nationality {
        --background: url('/assets/images/ic_globe.svg') no-repeat 100% 15px;
    }

    .gender {
        --background: url('/assets/images/ic_swipe.svg') no-repeat 100% 15px;
    }

    .education,
    .university {
        --background: url('/assets/images/md-school.svg') no-repeat 100% 15px;
    }

    .driving-license {
        --background: url('/assets/images/ic_car.svg') no-repeat 100% 15px;
    }

    .mother-nationality {
        --background: url('/assets/images/ic_username.svg') no-repeat 100% 15px;
    }

    .id-number {
        --background: url('/assets/images/ic_feed.svg') no-repeat 100% 15px;
    }

    .civil-front,
    .civil-back {
        --background: url('/assets/images/ic_profile_info.svg') no-repeat 100% 15px;
    }
}

.education {
    ion-card {
        margin-left: 5px;
        margin-right: 5px;
    }
}

.area,
.phone,
.email,
.nationality,
.gender,
.education,
.university,
.driving-license,
.mother-nationality,
.id-number,
.civil-front,
.civil-back {
    margin-bottom: 5px;
}

.expiring-on,
.txt-expiring-on {
    color: #333333;
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    opacity: 0.85;
}

@media only screen and (min-width: 750px) {
    .max-width {
        max-width: 700px;
        margin: 0 auto;
    }

    .btn-settings {
        margin-top: 30px;
    }
}

@media only screen and (max-width: 750px) {
    ion-content .max-width {
        padding: 30px;
    }

    ion-thumbnail {
        margin: 8px 0 32px 0;
    }
}
.verified {
    font-size: 20px;
}

ion-item {
    background:transparent;
    --background:transparent;
}
