<ion-header [translucent]="true" *ngIf="platform.is('mobile')">
  <ion-toolbar>
    <ion-title>{{"Profile" | translate}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" [scrollEvents]="true" [class.inTabs]="update" (ionScroll)="logScrolling($event)" [attr.dir]="translateService.direction()">
  <ion-header collapse="condense" *ngIf="platform.is('mobile')">
    <ion-toolbar>
      <ion-title size="large">{{"Profile" | translate}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="max-width">

    <div *ngIf="candidate">

      <ion-thumbnail (click)="updatePhoto()" [class.no-logo]="!candidate.candidate_personal_photo">
        <img *ngIf="!candidate.candidate_personal_photo" src="assets/images/avatar.jpg" >
        <img (error)="onPhotoError()" *ngIf="candidate.candidate_personal_photo" src="{{ awsService.cloudinaryUrl + 'candidate-photo/' + candidate.candidate_personal_photo }}" />
      </ion-thumbnail>

      <ion-button class="btn-settings" (click)="openPopover($event)">
        <ion-icon name="options-outline"></ion-icon>
        {{ "Settings" | translate }}
      </ion-button>

      <div class="clearfix"></div>

      <h2 class="candidate-name" tappable (click)="updateName()"*ngIf="candidate.candidate_name">
        {{ candidate.candidate_name }}
        <ion-icon class="verified" src="../../../../assets/images/ic_verified.svg" *ngIf="candidate.isProfileCompleted" title="Completed Profile"></ion-icon>
      </h2>

      <h4 class="candidate-name" tappable (click)="updateNameArabic()" *ngIf="candidate.candidate_name_ar">{{ candidate.candidate_name_ar }}</h4>

      <div class="birth-date" tappable (click)="updateDateOfBirth()" [class.required]="!candidate.candidate_birth_date">

        <span *ngIf="candidate.candidate_birth_date">

          <b>{{ candidate.candidate_birth_date | age }}</b> <br />

          <span *ngIf="translateService.currentLang != 'ar'" class="txt-born-on" [innerHtml]="'txt_born_on' | translate : {
            date: translateService.toDate(candidate.candidate_birth_date) | date :'MMMM d, y': undefined: translateService.currentLang
          }"></span>

          <span *ngIf="translateService.currentLang == 'ar'" class="txt-born-on" [innerHtml]="'txt_born_on' | translate : {
                date: translateService.toDate(candidate.candidate_birth_date) | date :'MMMM d ، y': undefined: translateService.currentLang
              }"></span>

        </span>

        <span *ngIf="!candidate.candidate_birth_date">{{ "How old are you?" | translate }} </span>

      </div>

      <div class="objective" tappable (click)="updateObjective()" [class.required]="!candidate.candidate_objective">
        <span *ngIf="candidate.candidate_objective">{{ candidate.candidate_objective }}</span>
        <span *ngIf="!candidate.candidate_objective">
          {{ "Tell us more about yourself. What makes you special?" | translate }}
          <ion-icon name="pencil-outline"></ion-icon>
        </span>
      </div>

      <div class="introduction" tappable (click)="updateIntro()" [class.required]="!candidate.candidate_intro">
        <span *ngIf="candidate.candidate_intro">{{ candidate.candidate_intro }}</span>
        <span *ngIf="!candidate.candidate_intro">
          {{ "Write a short brief to introduce yourself" | translate }} 
          <ion-icon name="pencil-outline"></ion-icon>
        </span>
      </div>

      <ion-item tappable class="video" (click)="updateVideo()">
        <div tabindex="0"></div>
        <ion-label>

          <div *ngIf="!candidate.candidate_video">
            <h5>{{ "Record an introductory video" | translate }}</h5>
            <div class="hint">{{ "It’s optional, but it’ll give a better impression of yourself and a higher chance of companies wanting to hire you." | translate }}</div>
          </div>

          <div *ngIf="candidate.candidate_video">
            <h5>{{ "Introductory video" | translate }}</h5>
            <img (error)="onVideoError()" src="{{ awsService.permanentBucketUrl + 'candidate-video/' + candidate.candidate_video + '.jpg' }}" />
          </div>

        </ion-label>
      </ion-item>

      <ion-item tappable class="resume" (click)="updateResume()">
        <div tabindex="0"></div>
        <ion-label>
          <div *ngIf="!candidate.candidate_resume">
            <h5>{{ "Upload CV or Portfolio" | translate }}</h5>
            <div class="hint">{{ "Optional. Take this chance to further impress recruiters." | translate }}</div>
          </div>

          <div *ngIf="candidate.candidate_resume">
            <h5>{{ "CV / Portfolio" | translate }}</h5>
            <p>{{ 'txt_file_uploaded' | translate: { extension: awsService.getFileExtension(candidate.candidate_resume).toUpperCase() } }}</p>
          </div>

        </ion-label>
      </ion-item>

      <ion-item tappable class="skills" (click)="updateSkills()" [class.required]="candidate.candidateSkills && candidate.candidateSkills.length == 0">
        <div tabindex="0"></div>
        <ion-label>
          <h5>{{ "Skills" | translate }}</h5>
          <p *ngIf="candidate.candidateSkills">
            <span *ngFor="let candidateSkill of candidate.candidateSkills">
              {{ candidateSkill.skill }}
            </span>
          </p>
          <span *ngIf="candidate.candidateSkills && candidate.candidateSkills.length == 0">{{ "Let us know what skills you have that may be of use to your workplace" | translate }}
          </span>
        </ion-label>
      </ion-item>

      <ion-item tappable class="experiences" (click)="updateExperiences()" [class.required]="candidate.candidateExperiences && candidate.candidateExperiences.length == 0">
        <div tabindex="0"></div>
        <ion-label>
          <h5>{{ "Work Experience" | translate }}</h5>
          <p *ngIf="candidate.candidateExperiences">
            <span *ngFor="let candidateExperience of candidate.candidateExperiences">
              {{ candidateExperience.experience }}
            </span>
          </p>
          <span *ngIf="candidate.candidateExperiences && candidate.candidateExperiences.length == 0">{{ "Do you have any work experience?" | translate }}
          </span>
        </ion-label>
      </ion-item>


      <ion-item tappable class="education" (click)="updateEducations()" [class.required]="candidate.candidateEducations && candidate.candidateEducations.length == 0">
        <div tabindex="0"></div>
        <ion-label>
          <h5>{{ "Educations" | translate }}</h5>
          <!-- *ngIf="candidate.candidateEducations"-->
          <ion-card *ngFor="let candidateEducation of candidate.candidateEducations">
            
            <ion-card-content>
              <p *ngIf="candidateEducation.degree">
                {{ translateService.langContent(candidateEducation.degree.degree_name_en, candidateEducation.degree.degree_name_ar) }}
              </p>
  
              <p *ngIf="candidateEducation.major">
                {{ translateService.langContent(candidateEducation.major.major_name_en, candidateEducation.major.major_name_ar) }}
              </p>
  
              <p *ngIf="candidateEducation.university">
                {{ translateService.langContent(candidateEducation.university.university_name_en, candidateEducation.university.university_name_ar) }}
              </p> 

              <ion-note slot="end" *ngIf="candidateEducation.graduation_year">
                {{ candidateEducation.graduation_year }}
              </ion-note>
            </ion-card-content>
          </ion-card>
          <span *ngIf="candidate.candidateEducations && candidate.candidateEducations.length == 0">{{ "Where do you study?" | translate }}
          </span>
        </ion-label>
      </ion-item>

      <ion-item tappable class="phone" (click)="updatePhone()" [class.required]="!candidate.candidate_phone">
        <div tabindex="0"></div>
        <ion-label>
          <b *ngIf="candidate.candidate_phone"> {{ candidate.candidate_phone }}</b>
        </ion-label>
      </ion-item>

      <ion-item tappable (click)="updatePreferredTime()">
        <div tabindex="0"></div>
        <ion-label>
          <b>{{ "Preferred time" | translate }}</b>
          <p *ngIf="candidate.candidate_preferred_time"> {{ candidate.candidate_preferred_time }}</p>
        </ion-label>
      </ion-item>

      <ion-item tappable class="email" (click)="updateEmail()" [class.required]="!candidate.candidate_email">
        <div tabindex="0"></div>
        <ion-label>
          <b>{{ candidate.candidate_email }}</b>
        </ion-label>
      </ion-item>

      <ion-item tappable class="area" (click)="updateArea()" [class.required]="!candidate.country || !candidate.area">
        <div tabindex="0"></div>
        <ion-label>
          <p *ngIf="candidate.area && candidate.country"
             [innerHtml]="'txt_lives_in' | translate : {
               area : area(candidate.area, candidate.country)
              }">
          </p>
          <p *ngIf="!candidate.area || !candidate.country">{{ "Area you live in" | translate }}</p>
        </ion-label>
      </ion-item>

      <ion-item tappable class="nationality" (click)="updateNationality()" [class.required]="!candidate.nationality">
        <div tabindex="0"></div>
        <ion-label>
          <b
            *ngIf="candidate.nationality">{{ translateService.langContent(candidate.nationality.country_nationality_name_en, candidate.nationality.country_nationality_name_ar) }}</b>
          <b *ngIf="!candidate.nationality">{{ "Where are you from?" | translate }} </b>
        </ion-label>
      </ion-item>

      <ion-item tappable class="gender" (click)="updateGender()" [class.required]="!candidate.candidate_gender">
        <div tabindex="0"></div>
        <ion-label>
          <b *ngIf="candidate.candidate_gender == 1">{{ "Male" | translate }}</b>
          <b *ngIf="candidate.candidate_gender == 2">{{ "Female" | translate }}</b>
          <b *ngIf="candidate.candidate_gender == 3">{{ "Other" | translate }}</b>
          <b *ngIf="!candidate.candidate_gender">{{ "Male? Female? Other?" | translate }} </b>
        </ion-label>
      </ion-item>

      <!--
      <ion-item tappable class="university" (click)="updateUniversity()" [class.required]="!candidate.university">
        <div tabindex="0"></div>
        <ion-label>
          <b
            *ngIf="candidate.university">{{ translateService.langContent(candidate.university.university_name_en, candidate.university.university_name_ar) }}</b>
          <b *ngIf="!candidate.university">{{ "Where do you study?" | translate }} </b>
        </ion-label>
      </ion-item>-->

      <ion-item tappable class="driving-license" (click)="updateDrivingLicense()" [class.required]="!candidate.candidate_driving_license">
        <div tabindex="0"></div>
        <ion-label>
          <span *ngIf="candidate.candidate_driving_license == 1" [innerHtml]="'Has <b>driving license</b>' | translate"></span>
          <span *ngIf="candidate.candidate_driving_license == 2" [innerHtml]="'Has <b>no driving license</b>' | translate"></span>
          <span *ngIf="!candidate.candidate_driving_license">{{ "Do you have one?" | translate }} </span>
        </ion-label>
      </ion-item>

      <ion-item tappable class="mother-nationality" (click)="updateKuwaitiNationalStatus()" [class.required]="!candidate.candidate_mom_kuwaiti"
        *ngIf="candidate.country && candidate.nationality &&
        candidate.country.country_nationality_name_en == 'Kuwaiti' &&
        candidate.nationality.country_nationality_name_en != 'Kuwaiti'">
        <div tabindex="0"></div>
        <ion-label>
          <span *ngIf="candidate.candidate_mom_kuwaiti == 1" [innerHtml]="'Mother is <b>Kuwaiti</b>' | translate"></span>
          <span *ngIf="candidate.candidate_mom_kuwaiti == 2" [innerHtml]="'Mother is <b>not Kuwaiti</b>' | translate"></span>
          <span *ngIf="!candidate.candidate_mom_kuwaiti">{{ "Your mother Kuwaiti?" | translate }} </span>
        </ion-label>
      </ion-item>

      <!--
      <ion-item tappable class="id-number" (click)="updateCandidateIdNumber()" [class.required]="!candidate.candidate_civil_id">
        <div tabindex="0"></div>
        <ion-label>
          <div *ngIf="candidate.candidate_civil_id">
            <span>{{ "Civil ID" | translate }} <b>{{ candidate.candidate_civil_id | translate }}</b></span>
          </div>
          <span *ngIf="!candidate.candidate_civil_id">{{ "The details of your civil id card." | translate }}
          </span>
        </ion-label>
      </ion-item>-->

<!--      <ion-item tappable (click)="updateCandidateIdExpiryDate()" [class.required]="!candidate.candidate_civil_expiry_date">-->
<!--        <div tabindex="0"></div>-->
<!--        <ion-label>-->
<!--          <small>{{ "Civil ID Expiry Date" | translate }}</small>-->
<!--          <span *ngIf="candidate.candidate_civil_expiry_date">{{ candidate.candidate_civil_expiry_date | translate }}</span>-->
<!--          <span *ngIf="!candidate.candidate_civil_expiry_date">{{ "When does it expire?" | translate }}-->
<!--          </span>-->
<!--        </ion-label>-->
<!--      </ion-item>-->

      <ion-item tappable class="civil-front" (click)="updateCivilIdFront()" [class.required]="!candidate.candidate_civil_photo_front">
        <div tabindex="0"></div>
        <ion-label>
          <p>{{ "ID Photo Front" | translate }}</p>
          <img width="126" (error)="onCivilFrontError()" *ngIf="candidate.candidate_civil_photo_front" src="{{ awsService.permanentBucketUrl + 'photos/' + candidate.candidate_civil_photo_front }}" />
          <span *ngIf="!candidate.candidate_civil_photo_front">{{ "A photo of your civil id from the front" | translate }}
          </span>

          <ng-container *ngIf="candidate.candidate_civil_photo_front">
            <br />
            
            <p class="txt-civil-id" *ngIf="candidate.candidate_civil_id">
              {{ "Civil ID" | translate }} <b>{{ candidate.candidate_civil_id }}</b>
            </p>  
            
            <span class="txt-expiring-on" *ngIf="candidate.candidate_civil_expiry_date && candidate.candidate_civil_expiry_date.length > 0 && translateService.currentLang != 'ar'"> 
              {{ "Expiring on" | translate }} {{ translateService.toDate(candidate.candidate_civil_expiry_date) | date :'MMMM d, y' }}</span>
              
            <span class="txt-expiring-on" *ngIf="candidate.candidate_civil_expiry_date && candidate.candidate_civil_expiry_date.length > 0 && translateService.currentLang == 'ar'"> 
              {{ "Expiring on" | translate }} {{ translateService.toDate(candidate.candidate_civil_expiry_date) | date :'MMMM d ، y' }}</span>
              <!-- undefined: translateService.currentLang -->

          </ng-container>
        </ion-label>
      </ion-item>

      <ion-item tappable class="civil-back" (click)="updateCivilIdBack()" [class.required]="!candidate.candidate_civil_photo_back">
        <div tabindex="0"></div>
        <ion-label>
          <p>{{ "ID Photo Back" | translate }}</p>
          <img width="126" (error)="onCivilBackError()" *ngIf="candidate.candidate_civil_photo_back" src="{{ awsService.permanentBucketUrl + 'photos/' + candidate.candidate_civil_photo_back }}" />
          <span *ngIf="!candidate.candidate_civil_photo_back">{{ "A photo of your civil id from the back" | translate }}
          </span>

        </ion-label>
      </ion-item>

      <ion-item tappable class="civil-back" (click)="profilePage()">
        <div tabindex="0"></div>
        <ion-label>
          <p>{{ "Profie Url" | translate }}</p>
          <b *ngIf="candidate.profile_url">{{ candidate.profile_url}}</b>
        </ion-label>
      </ion-item>

    </div>

    <loading-modal type="profile" [loading]="!candidate"></loading-modal>

  </div>

</ion-content> 