<ion-header>
  <ion-navbar color="primary">
    <ion-title>SH Internship Program</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="openPopover($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>

  <ion-item class='profileArea' *ngIf="statistics">
    <img src="https://sh-payroll.s3.eu-west-2.amazonaws.com/{{statistics.candidate.candidate_personal_photo}}"/>
    <h2>{{statistics.candidate.candidate_name}}</h2> 
    <p *ngIf="statistics.candidate.company_name && statistics.candidate.store_name && statistics.candidate.store_id">
      Assigned to work at {{statistics.candidate.store_name}}<br/>{{ statistics.candidate.company_name }}
    </p>
    <p *ngIf="(statistics.candidate.candidate_hourly_rate | number) > 0">
      Hourly Rate <b>KWD {{statistics.candidate.candidate_hourly_rate | number:'1.3-3' }}</b>
    </p>
  </ion-item>

  <!-- If no transfers available -->
  <ion-card *ngIf="total == 0">
    <ion-card-content text-center padding>
      <ion-icon name="md-filing" style='font-size:2em'></ion-icon>
      <h1>When will I get paid?</h1>
      <h2>Your payment for hours worked will be listed here as soon as the company you work for starts distributing.</h2>
    </ion-card-content>
  </ion-card> 

  <!-- If Transfers Exist -->
  <ion-list *ngIf="total > 0">
    <ion-item-divider color="light">Transfers</ion-item-divider>
    <ion-item *ngFor="let salary of salaries">
        {{ salary.tc_created_at }}
        <p>KWD {{salary.total | number:'1.3-3' }}</p>
        <p *ngIf="(salary.bonus | number) > 0">Bonus:<b>KWD {{salary.bonus | number:'1.3-3' }}</b></p>
        <ion-badge item-right color="secondary" *ngIf="salary.status =='Paid'">{{salary.status}}</ion-badge>
        <ion-badge item-right *ngIf="salary.status =='Unpaid'">In Progress</ion-badge>
    </ion-item>

    <ion-item text-center>
      <div class="pagination-wrapper">
        <button *ngFor="let page of pages" ion-button small color="{{ pageLinkColor(page) }}" (click)="loadData(page)">
          {{ page }}
        </button>
      </div>
    </ion-item>
  </ion-list>

</ion-content>