page-salary {

    .profileArea{
        background: #4354a5;
        color: #eee;

        img{
            width:100px; 
            border-radius: 50%;
        }
        
        h2{
            color: white;
            font-weight: bold;
        }
    }
}