<ion-header>
  <ion-navbar>
    <ion-title>StudentHub</ion-title>
    <ion-buttons end>
     <a ion-button icon-only (click)="openPopover($event)">
      <ion-icon name="more"></ion-icon>
    </a>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>


  <ion-item>
    <ion-avatar item-left *ngIf="statistics">
      <img src="https://sh-payroll.s3.eu-west-2.amazonaws.com/{{statistics.candidate.candidate_personal_photo}}">
    </ion-avatar>
    <ion-grid>
        <ion-row>
            <ion-col  col-9>
              <h2 *ngIf="statistics">{{statistics.candidate.candidate_name}}</h2>
            </ion-col>
        </ion-row>
    </ion-grid>
    <p item-right *ngIf="statistics && (statistics.candidate.candidate_hourly_rate | number) > 0">Per Hour: <b>KWD {{statistics.candidate.candidate_hourly_rate | number:'1.3-3' }}</b></p>
    <p  *ngIf="salaries">  {{ salaries[0].company_name }}</p>
  </ion-item>

  <ion-list>
    <ion-item-divider color="light">Transactions</ion-item-divider>
    <ion-item *ngFor="let salary of salaries">
        {{ salary.tc_created_at }}
        <p>KWD {{salary.total | number:'1.3-3' }}</p>
        <p *ngIf="(salary.bonus | number) > 0">Bonus:<b>KWD {{salary.bonus | number:'1.3-3' }}</b></p>
        <ion-badge item-right color="secondary" *ngIf="salary.status =='Paid'">{{salary.status}}</ion-badge>
        <ion-badge item-right *ngIf="salary.status =='Unpaid'">In Progress</ion-badge>
    </ion-item>
  </ion-list>

  <ion-item text-center>
    <div class="pagination-wrapper">
      <button *ngFor="let page of pages" ion-button small color="{{ pageLinkColor(page) }}" (click)="loadData(page)">
        {{ page }}
      </button>
    </div>
  </ion-item>

  <ion-item *ngIf="!salaries">
      No Result(s)
  </ion-item>
