page-salary {
    .profileArea{
        background: #4354a5;
        text-align: center;

        img{
            width:100px; 
            border-radius: 50%;
        }
        
        h2{
            color: white;
            font-weight: bold;
        }
        
        p{color: #eee;}
    }
}