<ion-header >
  <ion-navbar>
    <button ion-button menuToggle="left">
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>Salary Transfers</ion-title>
  </ion-navbar>
</ion-header>

<ion-content >

  <ion-list>
    <ion-item *ngFor="let salary of salaries">
      Company name : {{ salary.company_name }} <br />
      Hourly rate : {{ salary.candidate_hourly_rate }} <br />
      Hours : {{ salary.hours }} <br />
      <span *ngIf="salary.bonus">Bonus : {{ salary.bonus }} <br /></span>
      Total : {{ salary.total }} <br />
      Status : {{ salary.status }} <br />
      Created at : {{ salary.tc_created_at }}
    </ion-item>
  </ion-list>

  <ion-row text-center>
    <div class="pagination-wrapper">
      <button *ngFor="let page of pages" ion-button small color="{{ pageLinkColor(page) }}" (click)="loadData(page)">
        {{ page }}
      </button>
    </div>
  </ion-row>

  <ion-item *ngIf="!salaries">
      No Result(s)
  </ion-item>

</ion-content>

<ion-footer>
  <!--  <button ion-button full (click)="create()">
    Create
  </button> -->
</ion-footer>
