/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.max-width {
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.hidden {
  display: none;
}

.manipulation-video {
  outline: none;
}

.clearfix {
  display: table;
  clear: both;
  width: 100%;
}

.vjs-cloudinary-button {
  visibility: hidden;
}

[dir="ltr"] {
  font-family: 'effra', sans-serif !important;
  --ion-font-family: 'effra', sans-serif !important;

  ion-label[position="floating"],
  ion-label[position="stacked"] {
    transform-origin: left top;
    //    transform: translate3d(0%, 40%, 0) scale(0.75) !important;
  }
}

[dir="rtl"] {
  font-family: 'Droid Arabic Kufi', 'effra', sans-serif !important;
  --ion-font-family: 'Droid Arabic Kufi', 'effra', sans-serif !important;

  ion-label[position="floating"],
  ion-label[position="stacked"] {
    transform-origin: right top;
    //    transform: translate3d(0%, 30%, 0) scale(0.75) !important;
  }
}

ion-progress-bar {
  background: #fff;
  position: absolute;
  z-index: 9999;
}
//
ion-header.add-border:after {
  display: inline!important;
}

.clear-header:after {
  display: none;
}

ion-header.add-border:after {
  display: inline;
}

.clear-header ion-toolbar {
  --border-width: 0 !important;
}
.btn-close {
  padding-top: 24px!important;
}

/**
 * ----------------------------------------
 * animation scale-up-center
 * ----------------------------------------
 */
@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.kuwaiti-national-popup .modal-wrapper {
  min-height: 540px;
}

.swiper-pagination-bullet {
  background: #c4c4c4;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: #4354a4;
}
.ion-relative {
  position: relative;
}

.urgent-txt {
  font-weight: bold;
  color: #eb5757;
}

@media (max-width: 900px) {
  ion-header {
    //box-shadow: 0 10px 20px 0 rgb(0 0 0 / 5%);
    background: #fff;
    --background: #fff;

    ion-toolbar {
      //padding: 40px 0 13px 0 !important;

      ion-title {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 48px;
        letter-spacing: -0.5px;
        color: #23233D;
        padding-left: 32px;
        padding-right: 32px;
        align-items: center;
      }
    }
  }
  
  .max-width {
    background: #F7F8FA;
  }

  ion-content {
    background: #F7F8FA;
    --background: #F7F8FA;
  }
}

app-working-counter {
  background: transparent;
  --background: transparent;
  position: absolute;
  bottom: 12px;
  right: 16px;
}

ion-list {
  background: #F7F8FA!important;
}

.text-warning {
  color: var(--ion-color-danger);
}

.popup-modal {
  text-align: revert;
  justify-content: flex-end;
  --height: 100%;

  .modal-wrapper {
      height: 100%;
  }
}
