<ion-content [attr.dir]="translateService.direction()">

    <div class="max-width">
        <ion-button fill="clear" (click)="dismiss()" class="btn-close">
            <img src="assets/images/ic_cancel.svg" />
        </ion-button>

        <h3>{{ "Upload video to introduce yourself" | translate }}</h3>

        <div *ngIf="!uploading && shouldStop">

            <div class="selected-file" *ngIf="candidate.candidate_video || candidate.tempLocation">

                <video controls *ngIf="!candidate.tempLocation"
                    src="{{ awsService.cloudinaryVideoUrl }}candidate-video/{{ candidate.candidate_video }}"></video>

                <video controls *ngIf="candidate.tempLocation" src="{{ candidate.tempLocation }}"></video>
            </div>

            <ion-button tabindex="2" class="fileUpload" *ngIf="cameras" (click)="startRecording()">
                <ion-icon src="assets/images/md-cloud-upload.svg" slot="start"></ion-icon>&nbsp;
                <span *ngIf="candidate.candidate_video || candidate.tempLocation">{{ "Replace video" | translate }}</span>
                <span *ngIf="cameras.length == 0 && !candidate.candidate_video && !candidate.tempLocation">{{ "Select video" | translate }}</span>
                <span *ngIf="cameras.length >= 0 && !candidate.candidate_video && !candidate.tempLocation">{{ "Start recording" | translate }}</span>

            </ion-button>

            <input class="upload" type='file' #fileInput (change)="browserUpload($event)" accept="video/*" capture>

        </div>

        <div *ngIf="!uploading && !shouldStop">

            <h5>
                {{ "txt_time_elapsed" | translate : { seconds: timer } }}
            </h5> 

            <div class="selected-file">
                <video #player id="player" controls></video>
            </div>
            
            <ion-button tabindex="3" class="btn-stop" color="warning" (click)="stopRecording()">
                <ion-icon src="assets/images/md-cloud-upload.svg" slot="start"></ion-icon>
                {{ "Stop recording" | translate }}
            </ion-button>
        </div>

        <div class="progress-wrapper" *ngIf="uploading">
            <div class="progress-box">

                <h4>{{ "Uploading…" | translate }} <span>{{ progress + '%' }}</span></h4>

                <div class="progress-bar">
                    <div class="progress" [style.width]="progress + '%'"></div>
                </div>

                <ion-icon *ngIf="currentTarget" tappable src="assets/images/close.svg" (click)="cancelUpload()">
                </ion-icon>
            </div>
        </div>

        <ion-button class="btn-submit" *ngIf="candidate.tempLocation" (click)="submit()" [disabled]="loading || uploading">
            <span *ngIf="!loading">{{ "Save" | translate }}</span> 
            <ion-spinner *ngIf="loading"></ion-spinner>
        </ion-button>

    </div>
</ion-content>
