ion-content {
    --padding-start: 30px;
    --padding-end: 30px;
    --padding-top: 25px;
    --padding-bottom: 26px;
}

.upload {
    opacity: 0;
}
  
cl-video,
video {
    width: 250px;
    height: auto;
    background: black;
}

.btn-close {
    --padding-bottom: 0;
    --padding-start: 0;
    --padding-end: 0;
    --padding-top: 0;
    margin: 0;
    height: auto;
}

h3 {
    font-size: 36px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    margin-top: 50px;
    margin-bottom: 30px;
}

p {
  font-size: 22px;
  font-weight: lighter;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}

[dir="ltr"] p {
    font-family: EffraLight;
}

.btn-stop,
.fileUpload {
    height: 42px;
    font-size: 14px;
    text-transform: none;
    min-width: 137px;
    text-align: var(--start);
    font-weight: 500;
    margin-left: 0;
    margin-right: 0;
    --border-radius: 4px;
    --box-shadow: none;

    ion-icon {
        display: block;
        font-size: 28px;
        font-weight: normal;
    }
}

.fileUpload {
    --background: #333333;
}   

.fileUpload:hover {
    background-color: #fff !important;
}

.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
    width: 100%;
    height: 100%;
    display: block !important;
}

.fileUpload .button-inner span {
    text-indent: -25px;
}

.progress-wrapper {
    margin-top: 65px;

    .progress-box {
        width: 100%;
        height: 32px;
        border-radius: 3px;
        border: solid 3px #000000;
        background-color: #ffffff;

        .progress {
            width: 0%;
            background: #4354a4;
            height: 27px;
            float: var(--start);
            display: block;
            left: -1px;
            position: relative;
        }
    }
}

.btn-save-changes,
.btn-replace-video,
.btn-delete-video {
    height: 73px;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    min-width: 314px;
    clear: both;
    display: block;
    margin-bottom: 12px;
    text-transform: none !important;
    outline: none;
    --border-radius: 10px;
    --background: #ffffff;
    --color: #292f38;
    --border-width: 4px;
    --border-color: #bdbdbd;
    --border-style: solid;
    --box-shadow: none;
}

.selected-file {
    margin-bottom: 26px;
    width: auto;

    .extension {
        width: 50px;
        height: 50px;
        border-radius: 10px;
        background-color: #f5f7fb;
        font-size: 14px;
        font-weight: 500;
        text-transform: uppercase;
        display: inline-block;
        text-align: center;
        padding: 15px 0;
    }

    .fileName {
        font-size: 14px;
        line-height: 1.41;
        color: #292f38;
        display: inline-block;
        margin: 0 15px;
        width: calc(100% - 120px);
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        padding-top: 5px;
        position: relative;
        top: 5px;
    }

    a {
        top: 5px;
        position: relative;
    }
}

.btn-deleteFile {
    width: calc(100% - 24px) !important;
    border: 1px solid rgba(130, 130, 130, 0.3) !important;
    margin: 12px !important;

    span {
        font-weight: 500;
        color: #828282;
        font-size: 18px;
        margin: 0 12px;
        vertical-align: middle;
    }
}

#player {
    max-width: 100%;
    width: 100%;
    height: 100%;
    background: black;
    position: fixed;
    top: 0;
    left: 0;
}

.btn-cancel-upload,
.btn-start-recording,
.btn-stop-recording,
.btn-submit {
    width: 100%;
    height: 53px;
    text-transform: none;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.65;
    letter-spacing: normal;
    border-radius: 22px;
    margin-top: 32px;
    --border-radius: 22px;
    --box-shadow: none;
}

.btn-wrapper {
    bottom: 40px;
    position: fixed;
    width: calc(100% - 60px);

    .btn-start-recording {
        --background: #eb5757;
    }

    .btn-cancel-upload {
        margin-top: 20px;
        --background: #fff;
        --color: #333333;
    }
}

.btn-stop-recording {
    width: calc(100% - 60px);
    height: 68px;
    position: absolute;
    bottom: 40px;
    margin: 0;
    --color: #333333;
    --background: #ffffff;
    
    b {
        position: relative;
        top: -10px;
    }
    
    span {
        position: absolute;
        top: 36px;
        font-weight: normal;
    }
}

.btn-submit {
    margin-top: 0;
    color: #fff;
    --background: #333333;
}

.btn-submit[disabled] {
    --background: #6B6B6B;
    color: #B4B4B4
}

.txt-count-down {
    font-size: 210px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    top: calc(50% - 125px);
    position: absolute;
    left: calc(50% - 57px);
    -webkit-animation: scale-up-center 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) infinite both;
	        animation: scale-up-center 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) infinite both;
}

@-webkit-keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
}

@keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
}
.selected-file,
#video-player {
    margin: 0 auto;
    text-align: center;
}
