.text-list,
.salary-list {
    skeleton-text {
        height: 20px;
        margin: 0;
        padding: 0;
        width: 50%;
        display: block;
    }

    ion-item:nth-child(2) skeleton-text {
        width: 80%;
    }

    ion-item:nth-child(3) skeleton-text {
        width: 70%;
    }

    ion-item:nth-child(4) skeleton-text {
        width: 30%;
    }
}

.complete-profile {

    ion-skeleton-text {
        padding: 0;
        margin: 0;
    }

    ion-list {
        margin: 0 -14px;

        ion-item {
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08), 2px 0 4px 0 rgba(0, 0, 0, 0.12);
            margin: 4px 4px 19px 4px;
            background: #fff;
            border-radius: 4px;
            min-height: 72px;
            --ion-background-color: #fff;
            --inner-border-width: 0px;
            --padding-end: 20px;
            --padding-start: 20px;
            --padding-top: 21px;
            --padding-bottom: 21px;

            .step {
                border-radius: 100%;
                width: 44px;
                height: 44px;
                font-family: Roboto;
                font-size: 16px;
                font-weight: bold;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal; 
                color: #ffffff;
                justify-content: center;
                display: flex; 
                align-items: center;
                margin-inline-end: 25px;
               
                ion-skeleton-text {
                    border-radius: 100%;
                }
            }
    
            ion-label{
                height: 14px;

                ion-skeleton-text {
                    width: 50%;
                }
            }
        }

        ion-item:nth-child(1) {
            ion-label ion-skeleton-text  {
                width: 70%;
            }
        }

        ion-item:nth-child(2) {
            ion-label ion-skeleton-text {
                width: 40%;
            }
        }
    }
}

.first-impression,
.national-id,
.personal-info {
    
    ion-skeleton-text {
        padding: 0;
        margin: 0;
    }

    ion-list {
        margin: 0 -14px;

        ion-item {
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08), 2px 0 4px 0 rgba(0, 0, 0, 0.12);
            margin: 4px 4px 18px 4px;
            background: #fff;
            border-radius: 4px;
            min-height: 72px;
            --ion-background-color: #fff;
            --inner-border-width: 0px;
            --padding-bottom: 0;
            --padding-top: 0;
            --padding-end: 10px;
            --padding-start: 24px;

            small {
                display: block;
                margin-top: 5px;
                margin-bottom: 5px;
                padding: 0;
                height: 16px;
            }

            span {
                height: 14px;
                margin-top: 12px;
                display: block;
            }
        }

        ion-item:nth-child(1) {
            small {
                width: 30%;
            }

            span {
                width: 70%;
            }
        }

        ion-item:nth-child(2) {
            small {
                width: 40%;
            }

            span {
                width: 60%;
            }
        }

        ion-item:nth-child(2) {
            small {
                width: 70%;
            }

            span {
                width: 80%;
            }
        }
        
        ion-item:nth-child(3) {
            small {
                width: 40%;
            }

            span {
                width: 90%;
            }
        }
        
        ion-item:nth-child(4) {
            small {
                width: 30%;
            }

            span {
                width: 80%;
            }
        }
        
        ion-item:nth-child(5) {
            small {
                width: 24%;
            }

            span {
                width: 65%;
            }
        }
        
        ion-item:nth-child(6) {
            small {
                width: 44%;
            }

            span {
                width: 55%;
            }
        }
        
        ion-item:nth-child(7) {
            small {
                width: 71%;
            }

            span {
                width: 51%;
            }
        }
        
        ion-item:nth-child(8) {
            small {
                width: 47%;
            }

            span {
                width: 85%;
            }
        }
        
        ion-item:nth-child(9) {
            small {
                width: 33%;
            }

            span {
                width: 72%;
            }
        }
        
        ion-item:nth-child(10) {
            small {
                width: 70%;
            }

            span {
                width: 80%;
            }
        }
        
        ion-item:nth-child(11) {
            small {
                width: 49%;
            }

            span {
                width: 64%;
            }
        }
        ion-item:nth-child(12) {
            small {
                width: 55%;
            }

            span {
                width: 80%;
            }
        }
        
        ion-item:nth-child(13) {
            small {
                width: 70%;
            }

            span {
                width: 70%;
            }
        }
        

        ion-item:nth-child(14) {
            small {
                width: 70%;
            }

            span {
                width: 80%;
            }
        }
        
        ion-item:nth-child(15) {
            small {
                width: 40%;
            }

            span {
                width: 90%;
            }
        }
        
        ion-item:nth-child(16) {
            small {
                width: 30%;
            }

            span {
                width: 80%;
            }
        }
        
        ion-item:nth-child(17) {
            small {
                width: 24%;
            }

            span {
                width: 65%;
            }
        }
        
        ion-item:nth-child(18) {
            small {
                width: 44%;
            }

            span {
                width: 55%;
            }
        }
        
        ion-item:nth-child(19) {
            small {
                width: 71%;
            }

            span {
                width: 51%;
            }
        }
    }
}

.profile {
    ion-thumbnail {
        width: 136px;
        height: 136px;
        --border-radius: 100%;
        margin: 38px 0 32px 0;
    }
    
    h2.candidate-name {
        margin: 32px 0 25px 0;
        height: 35px;
        width: 240px;
    }
    
    h4.candidate-name {
        margin: 5px 0 24px 0;
        height: 30px;
        width: 300px;
    }
    
    .birth-date {
        margin: 11px 0 24px 0;
        
        .txt-born-on {
            width: 95px;
            height: 22px;
            display: block;
        }

        .txt-birth-date {
            width: 175px;
            height: 17px;
            margin-top: 12px;
        }
    }
    
    .objective {
        margin: 24px 0 40px 0;
        height: 22px;
        width: 95%;
    }
    
    ion-item {
        --inner-border-width: 0;
        --padding-start: 58px;
        margin-bottom: 5px;
    
        ion-label {
            margin-bottom: 5px;
        }
    
        h5 {
            margin: 0 0 7px 0;
            height: 19px;
            width: 210px;
        }
    
        p {
            margin: 3px 0 13px 0;
            height: 17px;
            width: 70%;
        }
    
        .hint {
            margin: 7px 0 11px 0;
            height: 17px;
            width: 70%;
        }
    }
    
    .skills,
    .experiences {
        p {
            margin-top: 10px;
        }
    
        span {
            clear: both;
            display: block;
        }
    }
    
    .no-logo {
        border: 1px solid #57CCC6;
    }
    
    .video {
        --background: url('src/assets/images/ic_video.svg') no-repeat 0px 11px;
    
        img {
            width: 90px;
            margin-top: 5px;
        }
    }
    
    .resume {
        --background: url('src/assets/images/ic_ad.svg') no-repeat 0px 11px;
    }
    
    .skills {
        --background: url('src/assets/images/ic_food_tools.svg') no-repeat 0px 11px;
    }
    
    .experiences {
        --background: url('src/assets/images/ic_suitcase.svg') no-repeat 0px 11px;
    }
    
    .area {
        --background: url('src/assets/images/ic_home_2.svg') no-repeat 0px 11px;

        ion-skeleton-text {
            width: 50%;
        }
    }
    
    .phone {
        --background: url('src/assets/images/ic_phone.svg') no-repeat 0px 15px;

        ion-skeleton-text {
            width: 70%;
        }
    }
    
    .email {
        --background: url('src/assets/images/ic_message.svg') no-repeat 0px 15px;

        ion-skeleton-text {
            width: 55%;
        }
    }
    
    .nationality {
        --background: url('src/assets/images/ic_globe.svg') no-repeat 0px 15px;

        ion-skeleton-text {
            width: 70%;
        }
    }
    
    .gender {
        --background: url('src/assets/images/ic_swipe.svg') no-repeat 0px 15px;

        ion-skeleton-text {
            width: 60%;
        }
    }
    
    .university {
        --background: url('src/assets/images/md-school.svg') no-repeat 0px 15px;

        ion-skeleton-text {
            width: 50%;
        }
    }
    
    .driving-license {
        --background: url('src/assets/images/ic_car.svg') no-repeat 0px 15px;

        ion-skeleton-text {
            width: 80%;
        }
    }
    
    .mother-nationality {
        --background: url('src/assets/images/ic_username.svg') no-repeat 0px 15px;

        ion-skeleton-text {
            width: 60%;
        }
    }
    
    .id-number {
        --background: url('src/assets/images/ic_feed.svg') no-repeat 0px 15px;

        ion-skeleton-text {
            width: 70%;
        }
    }
    
    .civil-front,
    .civil-back {
        --background: url('src/assets/images/ic_profile_info.svg') no-repeat 0px 15px;
    
        p {
            margin-bottom: 7px;
        }
    }
    
    .area,
    .phone,
    .email,
    .nationality,
    .gender,
    .university,
    .driving-license,
    .mother-nationality,
    .id-number,
    .civil-front,
    .civil-back {
        margin-bottom: 5px;

        ion-skeleton-text {
            height: 17px;
        }
    }
    
    .civil-id-image {
        height: 200px !important;
        width: 150px;
    }

    .txt-expiring-on {
        opacity: 0.85;
    }
    
    @media only screen and (max-width: 750px) {
        
        ion-thumbnail {
            margin: 8px 0 32px 0;
        }
    }
    
}

[dir="rtl"].profile {

    .video {
        --background: url('src/assets/images/ic_video.svg') no-repeat 100% 11px;
    }

    .resume {
        --background: url('src/assets/images/ic_ad.svg') no-repeat 100% 11px;
    }

    .skills {
        --background: url('src/assets/images/ic_food_tools.svg') no-repeat 100% 11px;
    }

    .experiences {
        --background: url('src/assets/images/ic_suitcase.svg') no-repeat 100% 11px;
    }

    .area {
        --background: url('src/assets/images/ic_home_2.svg') no-repeat 100% 11px;
    }

    .phone {
        --background: url('src/assets/images/ic_phone.svg') no-repeat 100% 15px;
    }

    .email {
        --background: url('src/assets/images/ic_message.svg') no-repeat 100% 15px;
    }

    .nationality {
        --background: url('src/assets/images/ic_globe.svg') no-repeat 100% 15px;
    }

    .gender {
        --background: url('src/assets/images/ic_swipe.svg') no-repeat 100% 15px;
    }

    .university {
        --background: url('src/assets/images/md-school.svg') no-repeat 100% 15px;
    }

    .driving-license {
        --background: url('src/assets/images/ic_car.svg') no-repeat 100% 15px;
    }

    .mother-nationality {
        --background: url('src/assets/images/ic_username.svg') no-repeat 100% 15px;
    }

    .id-number {
        --background: url('src/assets/images/ic_feed.svg') no-repeat 100% 15px;
    }

    .civil-front,
    .civil-back {
        --background: url('src/assets/images/ic_profile_info.svg') no-repeat 100% 15px;
    }
}
