
<ion-content [scrollEvents]="true" (ionScroll)="logScrolling($event)" [attr.dir]="translateService.direction()">

  <div class="brand" *ngIf="platform.is('mobile')">
    <img src="assets/logo.svg">
  </div>

  <ion-progress-bar *ngIf="updating" type="indeterminate"></ion-progress-bar>

  <div class="max-width" *ngIf="!loadingProfile && !loading && candidate">

    <h3>
      {{ 
        "txt_greeting" | translate : { 
          customer: translateService.langContent(candidate.candidate_name, candidate.candidate_name_ar) | split: ' '
        } 
      }}
    </h3>

    <ng-container>
      <p class="txt-job-status" *ngIf="authService.store"
        [innerHtml]="'txt_assigned' | translate : { company: authService.company.company_name, store: authService.store.store_name }">
      </p>

      <p class="txt-job-status" *ngIf="!authService.store && authService.candidate_job_search_status">
        {{ "We’re currently looking for a job for you. We’ll notify you when we find an open position." | translate }}
      </p>

      <p class="txt-job-status" *ngIf="!authService.store && !authService.candidate_job_search_status">
        {{ "You’re not looking for a job, and we’re not gonna bother you about it" | translate }}
      </p>

      <ion-button *ngIf="authService.store" fill="outline" (click)="viewCompanyDetails()" class="btn-learn-more">
        {{ "txt_learn_more" | translate : { company: authService.company.company_name } }}
      </ion-button>

      <ion-button *ngIf="!authService.store && !authService.candidate_job_search_status" fill="outline" class="btn-toggle-job"
        [disabled]="updating" (click)="updateJobSearchStatus()">
        {{ "Find me a job" | translate }}
      </ion-button>

      <div *ngIf="candidate && authService.candidate_job_search_status">

        <h4 *ngIf="
        authService.showOneSignalPrompt || 
        !authService.store || 
        (
          !candidate.bank_account_name || 
          !candidate.candidate_iban || 
          !candidate.bank
        )">{{ "What now?" | translate }}
          <ion-icon class="icon-dude" src="assets/images/dude.svg"></ion-icon>
        </h4>

        <ion-card class="card-notification" [class.pushNotificationAvailable]="pushNotificationAvailable"
          *ngIf="authService.showOneSignalPrompt" (click)="pushNotificationAvailable && setSubscription()">
          <ion-card-header class="white-bg">
            <ion-card-title>
              {{ "Enable notifications" | translate }}
              <p class="disabled-feature">({{ "Not supported on Safari, please change to Chrome" | translate }})</p>

              <ion-icon src="assets/images/ic_alerts.svg"></ion-icon>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            {{ "Notifications would give you updates on job offers, upcoming interviews, and payments being transferred to your account" | translate }}
          </ion-card-content>
        </ion-card>

        <ion-card class="profile-card" *ngIf="!authService.store" tappable [routerLink]="['/view/profile']">
          <ion-card-header class="white-bg">
            <ion-card-title>
              {{ "Improve your profile" | translate }}
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            {{ "The more attractive your profile, the easier it is for us to find you a job" | translate }}
          </ion-card-content>
        </ion-card>

        <ion-card class="card-bank-details" tappable
          *ngIf="!candidate.bank_account_name || !candidate.candidate_iban || !candidate.bank"
          (click)="updateBank($event)">
          <ion-card-header class="white-bg">
            <ion-card-title>
              {{ "Enter your banking details" | translate }}
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            {{ "Enter your banking details for faster bank transfers once we match you" | translate }}
          </ion-card-content>
        </ion-card>

      </div>
    </ng-container>
  </div>

</ion-content>
