<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>

    <ion-title>{{ "SH Internship Program" | translate }}</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="openPopover($event)">
        <ion-icon name="options-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [attr.dir]="translateService.direction()">

  <ion-refresher slot="fixed" (ionRefresh)="loadData($event)">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>

  <ion-grid class='profileArea' *ngIf="statistics">
    <ion-row class="ion-align-items-center">
      <ion-col size="4" size-sm="2" size-lg="2">
        <img width="100" *ngIf="statistics.candidate.candidate_personal_photo" src="{{ awsService.cloudinaryUrl + statistics.candidate.candidate_personal_photo }}" (error)="loadLogo($event,statistics.candidate)">
        <img width="100" *ngIf="!statistics.candidate.candidate_personal_photo" src="/assets/icon.png">
      </ion-col>
      <ion-col size="8" size-sm="10" size-lg="10">
        <ion-grid>
          <ion-row class="ion-align-items-center">
            <ion-col size="12" size-sm="6" size-lg="4">
              <h2>{{statistics.candidate.candidate_name}}</h2>
            </ion-col>
            <ion-col size="12" size-sm="12"  size-lg="4" *ngIf="statistics.candidate.store_id > 0">
              <h4>{{ "Work Location" | translate }}</h4>
              {{statistics.candidate.store.store_name}} @ {{ statistics.candidate.company.company_name }}
            </ion-col>
            <ion-col size="12" size-sm="6"  size-lg="4" *ngIf="statistics.candidate.candidate_hourly_rate > 0">
              <h4>{{ "Hourly Rate" | translate }}</h4>
              KWD {{statistics.candidate.candidate_hourly_rate | number:'1.3-3' }}
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- If no transfers available -->
  <ion-card *ngIf="salaries && (pageCount == 0)">
    <ion-card-content class="ion-text-center ion-padding">
      <ion-icon name="alert-circle-outline" style='font-size:2em'></ion-icon>
      <h1>{{ "When will I get paid?" | translate }}</h1>
      <h2>
        {{ "Your payment for hours worked will be listed here as soon as the company you work for starts distributing." | translate }}
      </h2>
    </ion-card-content>
  </ion-card>

  <!--Work History-->
  <ion-list *ngIf="workHistory && workHistory.length > 0">
    <ion-item-divider color="light">Work History</ion-item-divider>
    <ion-item *ngFor="let history of workHistory">
      <ion-label>
        {{ history.store.store_name }}: {{ history.start_date | date }} to
        <span *ngIf="history.end_date">{{ history.end_date | date }}</span>
        <span *ngIf="!history.end_date">{{ "now" | translate }}</span>
      </ion-label>
    </ion-item>
  </ion-list>

  <!-- If Transfers Exist -->
  <ion-list *ngIf="salaries && (pageCount > 0)">
    <ion-item-divider color="light">
      <ion-label>
        {{ "Transfers" | translate }}
      </ion-label>
    </ion-item-divider>
    <ion-item *ngFor="let salary of salaries">
      <ion-label>
        {{ salary.tc_created_at }}
        <p>KWD {{salary.total | number:'1.3-3' }}</p>
        <p *ngIf="salary.bonus > 0">{{ "Bonus" | translate }}:<b>KWD {{salary.candidate_bonus | number:'1.3-3' }}</b></p>
        <ion-badge slot="end" color="secondary" *ngIf="salary.status =='Paid'">{{salary.status}}</ion-badge>
        <ion-badge slot="end" *ngIf="salary.status =='Unpaid'">
          {{ "In Progress" | translate }}
        </ion-badge>
      </ion-label>
    </ion-item>

    <loading-modal type="salary-list" *ngIf="loading"></loading-modal>

  </ion-list>

  <ion-infinite-scroll *ngIf="currentPage < pageCount" (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content>
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
