<ion-content [scrollEvents]="true" (ionScroll)="logScrolling($event)" [attr.dir]="translateService.direction()">

  <div class="brand" *ngIf="platform.is('mobile')">
    <img src="assets/logo.svg">
  </div>

  <ion-progress-bar *ngIf="updating" type="indeterminate"></ion-progress-bar>

  <div class="max-width" *ngIf="!loadingProfile && !loading && candidate">
      <student-account-status [candidate]="candidate"></student-account-status>

      <div *ngIf="candidate">

        <ion-card class="card-notification" [class.pushNotificationAvailable]="pushNotificationAvailable"
          *ngIf="authService.showOneSignalPrompt && pushNotificationAvailable">
          <ion-card-header class="white-bg">
            <ion-card-title>
              {{ "Receive faster updates by enabling push notifications" | translate }}
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>{{ "We’ll still email you important updates. This is cool if you aren’t an email person or would like to receive faster updates." | translate }}</p>
            <ion-button class="download-btn" (click)="pushNotificationAvailable && setSubscription()" fill="outline"> {{"Enable notifications"| translate}}</ion-button>
            <p class="disabled-feature" *ngIf="!pushNotificationAvailable">({{ "Not supported on Safari, please change to Chrome" | translate }})</p>

          </ion-card-content>
        </ion-card>

        <ion-card class="card-bank-details" *ngIf="candidate.bank_account_needed" (click)="updateBank($event)">
          <ion-card-header class="white-bg">
            <ion-card-title [innerHTML]="'urgent_bank_detail' | translate"></ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>{{ "You won’t be able to receive payments until we have your bank information to process your transfers." | translate }}</p>
            <ion-button (click)="updateBank($event)" class="btn-bank-detail">{{"Enter my bank information" | translate }}</ion-button>
          </ion-card-content>
        </ion-card>

        <ion-card class="card-bank-details" *ngIf="candidate.candidate_job_search_status && !candidate.candidate_video">
          <ion-card-header class="white-bg">
            <ion-card-title>{{"Increase your chances of landing a job by recording an intro video" | translate}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>{{ "While optional, an intro video makes your profile stand out to employers. It shows that you have the confidence required for the job and gives them the first impression they need to see you as something more than just a paper CV." | translate }}</p>
            <ion-button  (click)="updateVideo($event)" fill="outline" class="btn-video-recording">{{"I’d like to start recording" | translate }}</ion-button>
          </ion-card-content>
        </ion-card>
        <ion-card class="card-bank-details" *ngIf="candidate.working_hour_count && candidate.working_hour_count > 0">
          <ion-card-header class="white-bg">
            <ion-card-title>{{"Working logs" | translate}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-button [routerLink]="'/log-date-list'" fill="outline" class="btn-video-recording">{{"Click here to view your working logs" | translate }}</ion-button>
          </ion-card-content>
        </ion-card>

        <ion-card class="card-work-details" *ngIf="workHistory.length > 0">
          <ion-card-header class="white-bg">
            <ion-card-title>{{"Your history with StudentHub" | translate}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ng-container *ngFor="let history of workHistory; let i = index;" >
              <div class="history" *ngIf="history.store">
                  <h2 *ngIf="history.company.parentCompany">{{ history.company.parentCompany.company_common_name_en? history.company.parentCompany.company_common_name_en: history.company.parentCompany.company_name }}</h2>
                  <h2 *ngIf="!history.company.parentCompany">{{ history.company.company_common_name_en? history.company.company_common_name_en: history.company.company_name }}</h2>
                  <h5 *ngIf="history.store">{{ history.store.store_name }}</h5>
                  <p>
                    {{ toDate(history.start_date) | date }} to
                    <ng-container *ngIf="history.end_date">{{ toDate(history.end_date) | date }}</ng-container>
                    <ng-container *ngIf="!history.end_date">now</ng-container>
                  </p>
              </div>
            </ng-container>
            <ion-button slot="end" *ngIf="workHistory.length > 0" class="download-btn certificate" (click)="downloadCertificate($event)" fill="outline"> {{"Download Certificates"| translate}}</ion-button>
          </ion-card-content>
        </ion-card>
      </div>
  </div>

</ion-content>
<ion-footer>
  <app-working-counter></app-working-counter>
</ion-footer>
